@using Common.Enums
@model Prometheus.WebUI.Models.ServiceRequestApproval.ServiceRequestApprovalModel
@{
	ViewBag.Title = "Service Requests";
	Layout = "~/Views/Shared/_Layout.cshtml";

	ViewBag.Links = new List<KeyValuePair<string, string>>
	{
		new KeyValuePair<string, string>("Home", "Home"),
		new KeyValuePair<string, string>("Service Requests", "#")
	};
}
@Html.Partial("PartialViews/ServiceRequestApprovalControls", Model.Controls)
@if (Model.ServiceRequests != null && Model.ServiceRequests.Any())
{
	<table class="table table-hover">
		<thead>
		<tr>
			<th>Request</th>
			<th>Status</th>
			<th>Date Submitted</th>
			<th>Date Required</th>
			<th>Requestor</th>
			<th></th>
		</tr>
		</thead>
		@* Build SR Table *@

		@foreach (var item in Model.ServiceRequests)
		{
			<tr>
				<td>@Html.ActionLink(item.Name, "ShowServiceRequest", "ServiceRequestApproval", new {id = item.Id}, null)</td>
				<td>@item.State</td>
				<td>@item.DateSubmitted</td>
				<td>@item.DateRequired.ToString("d")</td>
				<td></td>

				<td>
					<div class="btn-group">
						<div data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn-empty">
							<span aria-hidden="true">&#x25BC;</span>
						</div>
						<ul class="dropdown-menu">
							<li>@Html.ActionLink("Cancel", "ConfirmServiceRequestStateChange", new {id = item.Id, nextState = ServiceRequestState.Cancelled}) </li>

							<li>@Html.ActionLink("Submit", "ConfirmServiceRequestStateChange", new { id = item.Id, nextState = ServiceRequestState.Submitted })</li>

							<li>@Html.ActionLink("Approve", "ConfirmServiceRequestStateChange", new {id = item.Id, nextState = ServiceRequestState.Approved})</li>

							<li>@Html.ActionLink("Reject", "ConfirmServiceRequestStateChange")</li>
						</ul>
					</div>
				</td>
			</tr>
		}
	</table>
}
else
{
	<div class="alert make-space-top">No service requests found</div>
}