@using Common.Enums
@model Prometheus.WebUI.Models.ServiceRequestApproval.ServiceRequestApprovalModel
@{
	ViewBag.Title = "Service Requests";
	Layout = "~/Views/Shared/_Layout.cshtml";

	ViewBag.Links = new List<KeyValuePair<string, string>>
	{
		new KeyValuePair<string, string>("Home", "Home"),
		new KeyValuePair<string, string>("Service Requests", "#")
	};
}
@Html.Partial("PartialViews/ServiceRequestApprovalControls", Model.Controls)
@if (Model.ServiceRequests != null && Model.ServiceRequests.Any())
{
	<table class="table table-hover">
		<thead>
		<tr>
			<th>Request</th>
			<th>Status</th>
			<th>Date Submitted</th>
			<th>Date Required</th>
			<th>Requestor</th>

		</tr>
		</thead>
		@* Build SR Table *@

		@foreach (var item in Model.ServiceRequests)
		{
			<tr>
				<td>
					@if (item.Name != null)
					{
						@Html.ActionLink(item.Name, "ShowServiceRequest", "ServiceRequestApproval", new {id = item.Id}, null)
					}
					else
					{
						@Html.ActionLink($"SR{item.Id}", "ShowServiceRequest", "ServiceRequestApproval", new { id = item.Id }, null)
					}
				</td>
				<td>@item.State</td>
				<td>@item.DateSubmitted</td>
				<td>@item.DateRequired.ToString("d")</td>
				<td>@item.UserName</td>
			</tr>
		}
	</table>
}
else
{
	<div class="alert make-space-top">No service requests found</div>
}

<script language="javascript" type="text/javascript">
	$(document)
		.ready(function() {
			setTimeout(function() { location.reload(1); }, 10000);
		});
</script>