@model Prometheus.WebUI.Models.ServiceRequestMaintenance.ConfirmDeleteModel
@{
	ViewBag.Title = "ConfirmDeleteUserInput";
	Layout = "~/Views/Shared/_SidebarLayout.cshtml";
	ViewBag.Links = new List<KeyValuePair<string, string>>
	{
		new KeyValuePair<string, string>("Home", "Home"),
		new KeyValuePair<string, string>("Service Request Maintenance", "ServiceRequestMaintenance/Index"),
		new KeyValuePair<string, string>($"{Model.Name}", $"ServiceRequestMaintenance/ShowUserInput/{Model.Id}"),
		new KeyValuePair<string, string>("Confirm Deletion", "#")
	};

}

@section Content {
	@using (Html.BeginForm(Model.DeleteAction, "ServiceRequestMaintenance", FormMethod.Post))
	{
		<input type="hidden" name="Id" value="@Model.Id"/>
		<input type="hidden" name="ServiceId" value="@Model.ServiceId"/>
		<input type="hidden" name="OptionId" value="@Model.OptionId"/>
		<input type="hidden" name="Name" value="@Model.Name"/>
		<input type="hidden" name="Type", value="@Model.Type"/>

		<div class="title-div">Confirm Deletion</div>

		<div class="present-section">
			@Model.Name

		</div>

		<div class="flex-container-col">
			<div class="panel-footer">
				<div class="float-right-div">
					@Html.ActionLink("Back", Model.ReturnAction, null, new { @class = "btn btn-default btn-back" })
					<input type="submit" value="Confirm Delete" class="btn btn-danger" />
				</div>
			</div>
		</div>
	}
}


@section Sidebar {}