@using Common.Dto
@using Common.Enums
@model Prometheus.WebUI.Models.ServiceRequestMaintenance.UserInputModel
@{
	ViewBag.Title = "AddUserInput";
	Layout = "~/Views/Shared/_SidebarLayout.cshtml";

	ViewBag.Links = new List<KeyValuePair<string, string>>
	{
		new KeyValuePair<string, string>("Home", "Home"),
		new KeyValuePair<string, string>("Service Request Maintenance", "ServiceRequestMaintenance/Index"),
		new KeyValuePair<string, string>(Model.OptionName, $"ServiceRequestMaintenance/ShowServiceOption/{Model.OptionId}"),
		new KeyValuePair<string, string>($"{Model.Action} User Input", "#")
	};


}



@section Content
	{

	<div class="title-div">@Model.Action User Input</div>
	@using (Html.BeginForm("Save" + Model.InputType + "Input", "ServiceRequestMaintenance", FormMethod.Post))
	{
		<div class="panel-div">
			@switch (Model.InputType)
			{
				case UserInputTypes.Text:
					@Html.Partial("PartialViews/UserInputEditor", (ITextInputDto)Model.UserInput)
					break;
				case UserInputTypes.Selection:
					@Html.Partial("PartialViews/UserInputEditor", (ISelectionInputDto)Model.UserInput)
					break;
				case UserInputTypes.ScriptedSelection:
					@Html.Partial("PartialViews/UserInputEditor", (IScriptedSelectionInputDto)Model.UserInput)
					break;
			}
		</div>
		<div class="flex-container-col">
			<div class="panel-footer">
				<div class="float-right-div">
					@Html.ActionLink("Back", "ShowServiceOptions", new { id = Model.OptionId }, new { @class = "btn btn-default btn-back" })
					<input type="submit" value="Save" class="btn btn-primary" />
				</div>
			</div>
		</div>
	}
}
}
@section Sidebar
{
	some info here...

}
