@using Prometheus.WebUI.Models.ServiceRequest
@model ServiceRequestModel

<div class="dd">
    <div class="dd-row">
        <div class="dt-cell">Requestor</div>
        <div class="dd-cell">@Session["Displayname"]</div>
    </div>
    <div class="dd-row">
        <div class="dt-cell">
            Requested For
        </div>
        <div class="dd-cell">
            <select id="Requestees" style="width:200px">
                <option>Select Users</option>
            </select>
            <script type="text/javascript" language="javascript">
                $(document).ready(function () {
                    $.get('/Script/People', function (data) {
                        console.log(data);
                        $.each(data, function (index, value) {
                            console.log(index + value);
                            $('<option>').val(value).text(value).appendTo('#Requestees');
                        });
                    });
                }
                )
            </script>
        </div>
    </div>
    <div class="dd-row">
        <div class="dt-cell">Date Required</div>
        <div class="dd-cell">
            <div class="input-group date">
                @Html.TextBox("form.RequestedDate", Model.RequestedDate > DateTime.MinValue ? Model.RequestedDate.ToString("MM/dd/yyyy") : "", new {@class = "form-control form-date", id= "formRequestedDate" })
                <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
            </div>
            @Html.ValidationMessage("formRequestedDate")

            <script language="javascript" type="text/javascript">
                $(function() {
                    $('#formRequestedDate')
                        .datepicker({
                            autoclose: true,
                            format: "mm-dd-yyyy"
                        });
                });
            </script>

        </div>
    </div>
<div class="dd-row">
    <div class="dt-cell">Comments</div>
    <div class="dd-cell">
        @Html.TextArea("form.Comments", Model.Comments, new { @class = "ckeditor" })
        <div class="note">additional requests in comments will not be honoured</div>
    </div>
</div>
<div class="dd-row">
    <div class="dt-cell">Office-Use</div>
    <div class="dd-cell">@Html.TextBox("form.OfficeUse", Model.OfficeUse, new { @class = "form-control" })</div>
</div>
</div>
