@using Common.Dto
@model Prometheus.WebUI.Models.ServiceRequest.ServiceRequestNavigationModel
@{

}

<div class="flex-row" style="margin-left: -40px;">
    <ul class="sr-navigation">

        @if (Model.SelectedIndex < 0)
        {
            <li class="sr-navigation-active"><button name="submit" value="-1">Info</button></li>
        }
        else
        {
            <li><button name="submit" value="-1">Info</button></li>
        }

        @{
			int counter = 0;
	        if (Model.Titles != null)
	        {
		        foreach (var title in Model.Titles)
		        {
			        if (Model.SelectedIndex == counter)
			        {
				        if (title is IServiceOptionCategoryTagDto)
				        {
					        IServiceOptionCategoryTagDto label = (IServiceOptionCategoryTagDto) title;
					        <li class="sr-navigation-active"><button disabled="disabled">@label.ServiceOptionCategory.Name </button></li>
				        }
				        else if (title is IServiceTagDto)
				        {
					        IServiceTagDto label = (IServiceTagDto) title;
					        <li class="sr-navigation-active"><button disabled="disabled">@label.Service.Name </button></li>
				        }

			        }
			        else
			        {
				        if (title is IServiceOptionCategoryTagDto)
				        {
					        IServiceOptionCategoryTagDto label = (IServiceOptionCategoryTagDto) title;
					        <li><button type="submit" name="submit" value="@(counter)">@label.ServiceOptionCategory.Name</button></li>
				        }
				        else if (title is IServiceTagDto)
				        {
					        IServiceTagDto label = (IServiceTagDto) title;
					        <li><button type="submit" name="submit" value="@(counter)">@label.Service.Name </button></li>
				        }
			        }
			        counter++;
		        }
	        }
        }

	    <li><button disabled="disabled"></button></li>
    </ul>
</div>
