@model Common.Dto.IScriptDto

<div class="title-div">@ViewBag.SubTitle</div>
<div class="panel-div">
	<div class="dd">
		<div class="dd-row">
			<div class="dt-cell">
				@Html.DisplayNameFor(model => model.Name)
			</div>

			<div class="dd-cell">
				@Html.DisplayFor(model => model.Name)
			</div>
		</div>
		<div class="dd-row">
			<div class="dt-cell">
				@Html.DisplayNameFor(model => model.Description)
			</div>

			<div class="dd-cell">
				@Html.DisplayFor(model => model.Description)
			</div>
		</div>
		<div class="dd-row">
			<div class="dt-cell">
				@Html.DisplayNameFor(model => model.Version)
			</div>

			<div class="dd-cell">
				@Html.DisplayFor(model => model.Version)
			</div>
			</div>
		</div>

</div>

<div class="flex-container-col">
    @* control buttons at the bottom *@
    <div class="panel-footer">
        <div class="float-right-div">
            @Html.ActionLink("Back", "Index", new { }, new { @class = "btn btn-default btn-back" })
            @Html.ActionLink("Update", "UpdateScript", new { id = Model.Id }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Delete", "ConfirmDeleteScript", Model, new { @class = "btn btn-danger" })
        </div>
    </div>
</div>