@using Common.Enums.Permissions
@using Prometheus.WebUI.Helpers
@{
    ViewBag.Title = "Home";
    ViewBag.Links = null;
    Layout = "~/Views/Shared/_BasicLayout.cshtml";
    int userId = -1;
    try
    {
        userId = int.Parse(Session["Id"].ToString());
    }
    catch (Exception)
    {
        //userId already set to something impossible
    }
}

<div class="panel-primary">
    <div class="panel-heading" style="margin-top: -6px; width: 960px;">
        <h1>Prometheus IT Service Management</h1>
    </div>
    <div class="panel-body" style="background-color: #eef2f7;">
        <div class="content-body">
            <div class="flex-container-col flex-container-centre">

                <div class="flex-container-row">
                    @if (UiPermissionHelper.HasPermission(userId, SupportCatalog.CanViewCatalog) || UiPermissionHelper.HasPermission(userId, BusinessCatalog.CanViewCatalog))
                    {
                        <div class="flex-col content-cell">
                            <div style="height: 80px;">
                                <a href="@Url.Action("Index", "ServiceCatalog")"><img src="~/Content/Images/presentation.png" alt="Service Catalog" style="height: 72px; width: 77px;"></a>
                            </div>
                            <div>@Html.ActionLink("Service Catalog", "Index", "ServiceCatalog", null, new { @class = "font-home-link" })</div>
                        </div>
                    }

                    @if (UiPermissionHelper.HasPermission(userId, ApproveServiceRequest.ApproveBasicRequests))
                    {
                        <div class="flex-col content-cell">
                            <div style="height: 80px;">
                                <a href="@Url.Action("Index", "ServiceRequestApproval")"><img src="~/Content/Images/shake.png" alt="Service Request Approvals" style="height: 70px; width: 88px;"></a>
                                @Html.ActionLink("Service Request Approvals", "Index", "ServiceRequestApproval", null, new { @class = "font-home-link" })
                            </div>
                        </div>
                    }


                    @if (UiPermissionHelper.HasPermission(userId, ServiceDetails.CanViewServiceDetails))
                    {
                        <div class="flex-col content-cell">
                            <div style="height: 80px;">
                                <a href="@Url.Action("Index", "Service")"><img src="~/Content/Images/pie.png" alt="Services" style="height: 68px; width: 69px;"></a>
                            </div>
                            <div>@Html.ActionLink("Services", "Index", "Service", null, new { @class = "font-home-link" })</div>
                        </div>
                    }
                    @if (UiPermissionHelper.HasPermission(userId, ServiceDetails.CanViewServiceDetails))
                    {

                        <div class="flex-col content-cell">
                            <div style="height: 80px;">
                                <a href="@Url.Action("Index", "ServicePortfolio")"><img src="~/Content/Images/invest.png" alt="Service Portfolio" style="height: 72px; width: 77px;"></a>
                            </div>
                            <div>@Html.ActionLink("Service Portfolio", "Index", "ServicePortfolio", null, new { @class = "font-home-link" })</div>
                        </div>
                    }
                </div>

                <div class="flex-container-row">
                    @if (UiPermissionHelper.HasPermission(userId, ServiceDetails.CanEditServiceDetails))
                    {
                        <div class="flex-col content-cell">
                            <div style="height: 80px;">
                                <a href="@Url.Action("Index", "ServiceRequestMaintenance")"><img src="~/Content/Images/pad.png" alt="Service " style="height: 90px; width: 74px;"></a>
                            </div>
                            <div>@Html.ActionLink("Service Request Maintenance", "Index", "ServiceRequestMaintenance", null, new { @class = "font-home-link" })</div>
                        </div>
                    }
                    @if (UiPermissionHelper.HasPermission(userId, UserRoleAssignment.CanViewRoles))
                    {
                        <div class="flex-col content-cell">
                            <div style="height: 80px;">
                                <a href="@Url.Action("Index", "SystemAccess")"><img src="~/Content/Images/people-network.png" alt="System Access" style="height: 80px; width: 74px;"></a>
                            </div>
                            <div>@Html.ActionLink("System Access", "Index", "SystemAccess", null, new { @class = "font-home-link" })</div>
                        </div>
                    }
                    @if (UiPermissionHelper.HasPermission(userId, ServiceDetails.CanViewServiceDetails))
                    {
                        <div class="flex-col content-cell">
                            <div style="height: 80px;">
                                <a href="@Url.Action("Index", "ServiceMaintenance")">
                                    <img src="~/Content/Images/stack.png" alt="Service Maintenance" style="height: 70px; width: 75px;"/>
                                </a>
                            </div>
                            <div>@Html.ActionLink("Services Maintenance", "Index", "ServiceMaintenance", null, new {@class = "font-home-link"})</div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <span class="copyright-notice">&copy;2017 Prometheus</span>
        </div>
    </div>
</div>