@model Prometheus.WebUI.Models.Shared.LinkListModel
    <div class="title-div">
        @Model.Title
    </div>
    <div class="panel-div full-width make-space-bottom" >
        @{
            if (Model.ListItems != null && Model.ListItems.Any())
            {
                foreach (var item in Model.ListItems)
                {											//highlight the slected item
                        <div class="@(Model.SelectedItemId == item.Item1 ? "bg-primary" : "bg-default")">
                            @Html.ActionLink(item.Item2, Model.SelectAction, Model.Controller, new { id = item.Item1 }, null)
                        </div>
                }
            }
            else                                            //no results found
            {
                <div class="alert alert-warning">
                    No @Model.Title exist
                </div>
            }
        }
    </div>
    <div class="panel-footer">
        <div class="float-right-div">
            @if (Model.AddAction != null)					//optional footer item
            {
                @Html.ActionLink("Add", Model.AddAction, Model.SelectedItemId, new { @class = "btn btn-default" })
            }
        </div>
    </div>