@model Prometheus.WebUI.Models.Shared.LinkListModel
<div class="panel-div">
    <div class="title-div">
        @Model.Title
    </div>
    <div style="padding-top: 5px; padding-bottom: 5px; flex: 1;">
        @{
            if (Model.ListItems != null && Model.ListItems.Any())
            {
                foreach (var item in Model.ListItems)
                {
                    if (Model.SelectedItemId == item.Item1) //highlight selected item
                    {
                        <section class="bg-primary">
                            <a href="#">@item.Item2</a>
                        </section>
                    }
                    else                                    //don't highlight others
                    {
                        <section class="bg-default">
                            @Html.ActionLink(item.Item2, Model.SelectAction, Model.Controller, new { id = item.Item1 }, null)
                        </section>
                    }
                }
            }
            else                                            //no results found
            {
                <section class="alert alert-warning">
                    No @Model.Title exist
                </section>
            }
        }
    </div>
    <div class="panel-footer">
        <div class="float-right-div">
            @if (Model.AddAction != null)
            {
                @Html.ActionLink("Add", Model.AddAction, Model.SelectedItemId, new { @class = "btn btn-default" })
            }
        </div>
    </div>
</div>
