@model Prometheus.WebUI.Models.Shared.LinkListModel

<div class="std-div" style="width: 250px;">

    <div class="title-div">
            @Model.Title
    </div>
    <div style="padding-top: 5px; padding-bottom: 5px; min-height: 200px;">
        @{
            if (Model.ListItems != null && Model.ListItems.Any())
            {
                foreach (var item in Model.ListItems)
                {

                    if (Model.SelectedItemId == item.Item1) //highlight selected item
                    {
                        <div class="bg-primary">
                            <a href="#">@item.Item2</a>
                        </div>
                    }
                    else                                    //don't highlight others
                    {
                        <div class="bg-default">
                            @Html.ActionLink(item.Item2, Model.SelectAction, Model.Controller, new { id = item.Item1 }, null)
                        </div>
                    }

                }
            }
            else                                            //no results found
            {
	            <div class="alert alert-warning">No @Model.Title exist
		            
		</div>
            }
        }
    </div>
    <div class="panel-footer">
        &nbsp;
        @if (Model.AddAction != null)
        {
            <div class="float-right-div">

                @Html.ActionLink("Add", Model.AddAction, Model.SelectedItemId, new {@class = "btn btn-default"})
            </div>
        }
    </div>
</div>