@model Prometheus.WebUI.Models.ServiceRequestApproval.ServiceRequestStateChangeModel
<div class="panel-group">
	<div class="panel panel-default">
			<div class="dd full-width">
				<div class="dd-row">
					<div class="dd-cell-base dt-font">Requestor</div>
					<div class="dd-cell-base"> name </div>
					<div class="dd-cell-nostyle" style="width: 20%;"></div>
					<div class="dd-cell-base dt-font">Service Request</div>
					<div class="dd-cell-base">@Model.ServiceRequestModel.Package.Name</div>

				</div>
				<div class="dd-row">
					<div class="dd-cell-base dt-font">Requested For</div>
					<div class="dd-cell-base"> hopefully not too many names in here</div>
					<div class="dd-cell-nostyle" style="width: 20%;"></div>
					<div class="dd-cell-base dt-font">Id</div>
					<div class="dd-cell-base">@Model.ServiceRequestModel.ServiceRequest.Id</div>
				</div>

				<div class="dd-row">

					<div class="dd-cell-base"></div>
					<div class="dd-cell-base"></div>
					<div class="dd-cell-base"></div>
					
					<div class="dd-cell-base dt-font">Status</div>
					<div class="dd-cell-base">@Model.ServiceRequestModel.ServiceRequest.State</div>
				</div>
			</div>
		<div class="panel-body">

			<div class="dd-cell-base dt-font">Date Started</div>
			<div>@Model.ServiceRequestModel.ServiceRequest.CreationDate.ToString("d")</div>

		</div>
		<div class="panel-body">

			@foreach (var displayItem in Model.DisplayList)
			{
				<div class="subsubtitle-div">@displayItem.Category.Name</div>
				foreach (var option in displayItem.Options)
				{

					<div>@option.ServiceRequestOption.Quantity @option.ServiceOption.Name</div>
				}


				<div class="dd">
					<div class="dd-row">
						<div class="dd-cell-base"></div>

					</div>
				</div>

			}
		</div>
	</div>
</div>
