@model Prometheus.WebUI.Models.ServiceRequestApproval.ServiceRequestStateChangeModel
<div class="panel-group">
	<div class="panel panel-default">
		<div class="dd full-width panel-heading" style="padding: 10px;">
			<div class="dd-row">
				<div class="dd-cell-base dt-font">Requestor</div>
				<div class="dd-cell-base"> name </div>
				<div class="dd-cell-nostyle" style="width: 20%;"></div>
				<div class="dd-cell-base dt-font">Service Request</div>
				<div class="dd-cell-base">@Model.ServiceRequestModel.Package.Name</div>

			</div>
			<div class="dd-row">
				<div class="dd-cell-base dt-font">Requested For</div>
				<div class="dd-cell-base"> hopefully not too many names in here</div>
				<div class="dd-cell-nostyle" style="width: 20%;"></div>
				<div class="dd-cell-base dt-font">Id</div>
				<div class="dd-cell-base">@Model.ServiceRequestModel.ServiceRequest.Id</div>
			</div>

			<div class="dd-row">

				<div class="dd-cell-base"></div>
				<div class="dd-cell-base"></div>
				<div class="dd-cell-base"></div>

				<div class="dd-cell-base dt-font">Status</div>
				<div class="dd-cell-base">@Model.ServiceRequestModel.ServiceRequest.State</div>
			</div>
		</div>

		<div class="panel-body"> <span class="subsubtitle-div">Dates</span>
			<input id="drop-checkbox-dates" type="checkbox" class="drop-checkbox-request">
			<label for="drop-checkbox-dates" id="example" class="drop-text-request" data-toggle="collapse" data-target="#drop-dates">Show details</label>
			<div class="collapse" id="drop-dates">
				<div class="dd">
					<div class="dd-row">
						<div class="dd-cell-base dt-font">Date Started</div>
						<div class="dd-cell-base">@Model.ServiceRequestModel.ServiceRequest.CreationDate.ToString("d")</div>
					</div>
				</div>
			</div>
			</div>


		<div class="panel-body">
			<input id="drop-checkbox-details" type="checkbox" class="drop-checkbox-request"> 
			<label for="drop-checkbox-details" id="example" class="drop-text-request" data-toggle="collapse" data-target="#drop-details">Show details</label>
			<div class="collapse" id="drop-details">
				<div class="dd">
					@foreach (var displayItem in Model.DisplayList)
					{
						<div class="dd-row">
							<div class="dd-cell-base dt-font">@displayItem.Category.Name</div>
						</div>
						<div class="dd-row">
							@foreach (var option in displayItem.Options)
							{
								<div class="dd-cell-base">@option.ServiceRequestOption.Quantity @option.ServiceOption.Name</div>
							}
						</div>

							<div class="dd">
								<div class="dd-row">
									<div class="dd-cell-base"></div>

								</div>
							</div>
		
					}
				</div>
			</div>
			</div>
	</div>
</div>
