@model Prometheus.WebUI.Models.ServiceRequestApproval.ServiceRequestStateChangeModel
<div class="panel-group">
	<div class="panel panel-default">
		<div class="panel-heading">
			<span class="subsubtitle-div">Service Request Summary</span>
			@if (Model.CanEditServiceRequest)
			{
				<div class="float-right-div">@Html.ActionLink("Edit Service Request", "Form", "ServiceRequest", new { id = Model.ServiceRequestModel.ServiceRequest.Id, index = -1 }, null)</div>
			}
			<div class="dd full-width">
				<div class="dd-row">
					<div class="dd-cell-base dt-font">Requestor</div>
					<div class="dd-cell-base"> name </div>
					<div></div>
					<div class="dd-cell-base dt-font">Service Request</div>
					<div class="dd-cell-base">@Model.ServiceRequestModel.ServiceRequest.Name</div>

				</div>
				<div class="dd-row">
					<div class="dd-cell-base dt-font">Requested For</div>
					<div class="dd-cell-base" style="max-height: 200px; overflow-y: scroll">
						@if (Model.ServiceRequestModel.RequesteeDisplayNames != null)
						{
							foreach (var requestee in Model.ServiceRequestModel.RequesteeDisplayNames)
							{
								<div>@requestee</div>
							}
						}
					</div>
					<div></div>
					<div class="dd-cell-base dt-font">Status</div>
					<div class="dd-cell-base">@Model.ServiceRequestModel.ServiceRequest.State</div>
				</div>

				<div class="dd-row">

					<div class="dd-cell-base"></div>
					<div class="dd-cell-base"></div>
					<div class="dd-cell-base"></div>
					<div class="dd-cell-base dt-font">Office-Use</div>
					<div class="dd-cell-base">@Model.ServiceRequestModel.ServiceRequest.Officeuse</div>
				</div>
			</div>
		</div>
		<div class="panel-body">
			<span class="subsubtitle-div">Dates</span>
			<input id="drop-checkbox-dates" type="checkbox" class="drop-checkbox-request">
			<label for="drop-checkbox-dates" id="example" class="drop-text-request" data-toggle="collapse" data-target="#drop-dates">Show details</label>
			<div class="collapse" id="drop-dates">
				<div class="dd">
					<div class="dd-row">
						<div class="dd-cell-base dt-font">Requested For</div>
						<div class="dd-cell-base">@Model.ServiceRequestModel.ServiceRequest.RequestedForDate.ToString("d")</div>
					</div>

					<div class="dd-row">
						<div class="dd-cell-base dt-font">Date Started</div>
						<div class="dd-cell-base">@Model.ServiceRequestModel.ServiceRequest.CreationDate.ToString("g")</div>
					</div>
					@if (Model.ServiceRequestModel.ServiceRequest.SubmissionDate != null)
					{
						<div class="dd-row">
							<div class="dd-cell-base dt-font">Date Submitted</div>
							<div class="dd-cell-base">@Model.ServiceRequestModel.ServiceRequest.SubmissionDate.Value.ToString("g")</div>
						</div>
					}

					@if (Model.ServiceRequestModel.ServiceRequest.DeniedDate != null || Model.ServiceRequestModel.ServiceRequest.ApprovedDate != null)
					{
						<div class="dd-row">

							@if (Model.ServiceRequestModel.ServiceRequest.DeniedDate != null)
							{
								<div class="dd-cell-base dt-font">Date Denied</div>
								<div class="dd-cell-base">
									@Model.ServiceRequestModel.ServiceRequest.DeniedDate.Value.ToString("g")
								</div>
							}
							else if (Model.ServiceRequestModel.ServiceRequest.ApprovedDate != null)
							{
								<div class="dd-cell-base dt-font">Date Approved</div>
								<div class="dd-cell-base">
									@Model.ServiceRequestModel.ServiceRequest.ApprovedDate.Value.ToString("g")
								</div>
							}
						</div>
					}
				</div>
			</div>
		</div>
		<div class="panel-body">
			<span class="subsubtitle-div">Comments</span>
			<input id="drop-checkbox-comments" type="checkbox" class="drop-checkbox-request">
			<label for="drop-checkbox-comments" id="example" class="drop-text-request" data-toggle="collapse" data-target="#drop-comments">Show details</label>
			<div class="collapse" id="drop-comments">
				<div class="dd full-width">
					<div class="dd-row">
						<div class="dd-cell-base dt-font">Requestor Comments</div>
						@if (Model.ServiceRequestModel.Approval != null)
						{
							<div class="dd-cell-base dt-font">Approver Comments</div>
						}
					</div>

					<div class="dd-row">
						<div class="dd-cell-base">@Html.Raw(Model.ServiceRequestModel.ServiceRequest.Comments)</div>
						<div class="dd-cell-base">
							@if (Model.ServiceRequestModel.Approval != null)
							{
								@Html.Raw(Model.ServiceRequestModel.Approval.Comments)
							}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="panel-body">
			<span class="subsubtitle-div">Details</span>
			<input id="drop-checkbox-details" type="checkbox" class="drop-checkbox-request">
			<label for="drop-checkbox-details" id="example" class="drop-text-request" data-toggle="collapse" data-target="#drop-details">Show details</label>
			<div class="collapse" id="drop-details">
				<div class="dd">
					@if (Model.DisplayList != null)
					{
						foreach (var displayOption in Model.DisplayList)
						{
							<div class="dd-row">
								<div class="dd-cell-base dt-font">
									@displayOption.ServiceOption.Name
									@if (displayOption.ServiceRequestOption.Quantity > 1)
									{
										<span>(@displayOption.ServiceRequestOption.Quantity)</span>
									}
								</div>
							</div>
							foreach (var userData in displayOption.UserInputs)
							{
								<div class="dd-row">
									<div class="dd-cell-base">
										<span class="make-space-left make-space-right bold">
											@userData.DisplayName
										</span>
										<span>@userData.ServiceRequestUserInput.Value</span>
									</div>
								</div>
							}
						}
					}
				</div>


				<div class="dd">
					<div class="dd-row">
						<div class="dd-cell-base">Price Upfront</div>
						<div class="dd-cell-base">$@(Model.ServiceRequestModel.ServiceRequest.UpfrontPrice) </div>
					</div>

					<div class="dd-row">
						<div class="dd-cell-base">Price Monthly</div>
						<div class="dd-cell-base">$@(Model.ServiceRequestModel.ServiceRequest.MonthlyPrice)</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
