@model Prometheus.WebUI.Models.Shared.TableDataModel
@{
    int pixels; //determine the size of the table
    if (Model.Titles.Count() == 1)
    {
        pixels = 175;
    }
    else
    {
        pixels = (Model.Titles.Count()*120)%501;
    }

    string width = pixels + "px";
}

<div class="std-div">
    @if (Model.Titles != null)
    {

        <table class="table table-hover" style="width:@width">
            <thead>
                <tr>
                    @foreach (string title in Model.Titles)
                {

                        <th><label class="font-title-initial">@title</label></th>

                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var row in Model.Data)
                {
                    bool firstCol = true;
                    <tr>
                        @foreach (string data in row.Item2)
                    {
                        <td>
                            @if (firstCol)
                            {
                                @Html.ActionLink(data, Model.Action, "Service", new {section = Model.ServiceSection, id = row.Item1}, null)
                                firstCol = false;
                            }
                            else
                            {
                                @Html.Raw(data)
                            }
                        </td>
  
                        }
                        <td>

                            <div class="btn-group">
                                <div data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn-empty">
                                    <span aria-hidden="true">&#x25BC;</span>
                                </div>
                                <div class="dropdown-menu">
                                    <ul class="ul-menu">
                                        <li>
                                            @Html.ActionLink("Update", "UpdateServiceSectionItem", new { id = row.Item1, section = Model.ServiceSection })
                                        </li>

                                        <li>
                                            @Html.ActionLink("Delete", "ConfirmDeleteService" + Model.ServiceSection + "Item", new { id = row.Item1 })
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <text>gots no data yo</text>

    }
</div>