@using Common.Dto
@using Common.Enums.Entities
@model Prometheus.WebUI.Models.ServiceCatalog.OptionModel
@{
	ViewBag.Title = Model.Catalog + " Catalog";
	ViewBag.SubTitle = Model.Option.Name;
	Layout = "~/Views/Shared/_SidebarLayout.cshtml";

	ViewBag.Links = new List<KeyValuePair<string, string>>
	{
		new KeyValuePair<string, string>("Home", "Home"),
		new KeyValuePair<string, string>(ViewBag.Title, "ServiceCatalog/" + Model.Catalog),
		new KeyValuePair<string, string>(Model.ServiceName, $"ServiceCatalog/ServiceOptions/{Model.Catalog}/{Model.ServiceId}"),
		new KeyValuePair<string, string>(ViewBag.SubTitle, "#")
	};
}

@section Sidebar
{
	<div class="title-div">Available Options</div>

	<div class="flex-container-col" style="padding-top: 5px; padding-bottom: 5px;">
	@if (Model.Options != null)
	{
		CatalogableTypes selectedType = Model.Option is IServiceOptionDto ? CatalogableTypes.Option : CatalogableTypes.Category;
		int serviceId = 0;

		foreach (var option in Model.Options)
		{
			CatalogableTypes optionType = CatalogableTypes.Option;		//initialize with a default value
			if (option is IOptionCategoryDto)
			{
				optionType = CatalogableTypes.Category;
			}
			else if (option is IServiceOptionDto)
			{
				optionType = CatalogableTypes.Option;
			}


			<div class="@(Model.Option.Id == option.Id && selectedType == optionType ? "bg-primary" : "bg-default")">
					@Html.ActionLink(option.Name, "Details", new { serviceId = Model.ServiceId, type=optionType, id=option.Id })
			</div>
		}
	}
	</div>
}

@section Content
{
	<div class="title-div">
		@Model.Option.Name
	</div>


	@{
		var dto = Model.Option as IServiceOptionDto;
	}
	@if (dto != null)
	{
		<div>
			@Html.Partial("PartialViews/OptionView", dto)
		</div>
	}
	else if (Model.Option is IOptionCategoryDto)
	{
		IOptionCategoryDto category = (IOptionCategoryDto)Model.Option;
		<div>
			@Html.Raw(category.BusinessValue)
		</div>


		foreach (var option in category.ServiceOptions)
		{
				@Html.Partial("PartialViews/OptionView", option)
		}
	}

}
