@using Common.Dto
@model Prometheus.WebUI.Models.ServiceCatalog.OptionModel
@{
	ViewBag.Title = Model.Catalog + " Catalog";
	ViewBag.SubTitle = Model.Option.Name;
	Layout = "~/Views/Shared/_SidebarLayout.cshtml";

	ViewBag.Links = new List<KeyValuePair<string, string>>
	{
		new KeyValuePair<string, string>("Home", "Home"),
		new KeyValuePair<string, string>(ViewBag.Title, "ServiceCatalog/" + Model.Catalog),
		new KeyValuePair<string, string>(Model.ServiceName, $"ServiceCatalog/ServiceOptions/{Model.Catalog}/{Model.ServiceId}"),
		new KeyValuePair<string, string>(ViewBag.SubTitle, "#")
	};
}

@section Sidebar
{
	other options go here. i guess
}

@section Content
{
	<div class="title-div">@Model.Option.Name</div>


	@{
		var dto = Model.Option as IServiceOptionDto;
	}
	@if (dto != null)
	{
		@Html.Partial("PartialViews/OptionView", dto)
	}
	else if (Model.Option is IOptionCategoryDto)
	{
		IOptionCategoryDto category = (IOptionCategoryDto)Model.Option;
		<div>
			@Html.Raw(Model.Option.BusinessValue)
		</div>


		foreach (var option in category.ServiceOptions)
		{
			<div>
				<b>@option.Name</b>
			</div>

			@Html.Partial("PartialViews/OptionView", option)
		}

		<text>you have reached a beautiful place. </text>
	}

}
