@model DataService.Models.ILifecycleStatus


<div class="std-div">
                <label class="font-title-initial">Name:</label><br />
                @Model.Name
                <p />
                <label class="font-title-initial">Comment:</label><br />
                @Model.Comment
                <p />
                <label class="font-title-initial">Position:</label><br />
                @Model.Position
                <p />
                <label class="font-title-initial">Visible in Catalogs</label><br />
                <label class="btn btn-primary disabled">
                    @if (Model.CatalogVisible)
                    {
                        <text>yes</text>
                    }
                    else
                    {

                        <text>no</text>
                    }
                </label>



    <div class="panel-footer">
        &nbsp;
        <div class="float-right-div">
            @Html.ActionLink("Edit", "UpdateLifecycle", null, new { @class = "btn btn-primary" })
            @Html.ActionLink("Cancel", "ShowLifecycle", null, new { @class = "btn btn-default" })
        </div>
    </div>
</div>

