@model Common.Dto.ServiceDocumentDto


<input type="hidden" name="Id" value="@Model.Id"/>
    @Html.Hidden("StorageNameGuid", Model.StorageNameGuid.ToString())
    @Html.Hidden("FileExtension", Model.FileExtension)
    @Html.Hidden("ServiceId", Model.ServiceId)
    <table>
        <tr>
            <td class="dt-cell">Filename</td>
            <td class="dd-cell">
                <div class="input-group">
                    @Html.TextBox("Filename", Model.Filename, new { @class = "form-control" })
                    <span class="input-group-addon">@Model.FileExtension</span>
</div>
</td>
        </tr>
    </table>

    <div class="flex-container">
        <div class="panel-footer">
            <div class="float-right-div">
                @Html.ActionLink("Back", "Show", new { id = Model.StorageNameGuid, section = "Documents" }, new { @class = "btn btn-default" })
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>