@model Common.Dto.ServiceDto
    <table>
        <tr>
            <td class="dt-cell">Name</td>
            <td class="dd-cell">@Model.Name</td>
        </tr>
        <tr>
            <td class="dt-cell">Description</td>
            <td class="dd-cell">@Html.Raw(Model.Description)</td>
        </tr>
        <tr>
            <td class="dt-cell">Business Owner</td>
            <td class="dd-cell">@Model.BusinessOwner</td>
        </tr>
        <tr>
            <td class="dt-cell">Service Owner</td>
            <td class="dd-cell">@Model.ServiceOwner</td>

        </tr>
        <tr>

            <td class="dt-cell">Service Type</td>
            <td class="dd-cell">
                <table>
                    <tr>
                        <td class="dt-cell">Role</td>
                        <td class="dd-cell">@Model.ServiceTypeRole</td>
                    </tr>
                    <tr>
                        <td class="dt-cell">Provision</td>
                        <td class="dd-cell">@Model.ServiceTypeProvision</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="dt-cell">Status</td>
            <td class="dd-cell">@Model.LifecycleStatusDto.Name</td>
        </tr>
    </table>
