@using Common.Enums.Permissions
@using Prometheus.WebUI.Helpers
@model Common.Dto.IServiceSwotDto
    @{
        int userId; /* determine user ID for permissions */
        try { userId = int.Parse(Session["Id"].ToString()); }
        catch { return; } /*abort rendering */

    }
<div class="dd">

    @foreach (var property in ViewData.ModelMetadata.Properties)
    {
        if (property.PropertyName.Contains("Id") || property.PropertyName == "SwotActivities" || property.PropertyName.Contains("Date"))
        {
            continue;
        }
        <div class="dd-row">
            <div class="dt-cell">@(property.DisplayName ?? property.PropertyName)</div>
            <div class="dd-cell">@Html.Raw(property.Model)</div>
        </div>
    }
    <div class="dd-row">
        <div class="dt-cell">Activities</div>
        <div class="dd-cell">
            @if (Model.SwotActivities != null)
            {
                @Html.Action("ShowSwotActivities", Model.Id)
                <div>
                    @if (UiPermissionHelper.HasPermission(userId, ServiceDetails.CanEditServiceDetails))
                    {
                        <div class="float-right-div">
                            @Html.ActionLink("Add Activity", "AddSwotActivityItem", new {id = Model.Id})
                        </div>
                    }
                </div>
            }
            else
            {
                <div class="alert alert-warning">
                    No activities.
                    @if (UiPermissionHelper.HasPermission(userId, ServiceDetails.CanEditServiceDetails))
                    {
                        @Html.ActionLink("Add", "AddSwotActivityItem", new {id = Model.Id})
                    }
                </div>
            }
        </div>
    </div>
</div>
