@model Common.Dto.IServiceSwotDto
<table>

    @foreach (var property in ViewData.ModelMetadata.Properties)
    {
        if (property.PropertyName.Contains("Id") || property.PropertyName == "SwotActivities" || property.PropertyName.Contains("Date"))
        {
            continue;
        }
        <tr>
            <td class="dt-cell">@(property.DisplayName ?? property.PropertyName)</td>
            <td class="dd-cell">@Html.Raw(property.Model)</td>
        </tr>
    }
    <tr>
        <td class="dt-cell">Activities</td>
        <td class="dd-cell">
            @if (Model.SwotActivities != null)
            {
                @Html.Action("ShowSwotActivities", Model.Id)
                <div>
                <div class="float-right-div">
                    @Html.ActionLink("Add Activity", "AddSwotActivityItem", new { id = Model.Id })
                </div>
                </div>
            }
            else
            {
                <div class="alert alert-warning">
                    No activities. @Html.ActionLink("Add", "AddSwotActivityItem", new { id = Model.Id })

                </div>
            }
        </td>
    </tr>
</table>
