@model Common.Dto.ServiceDto

<div class="panel">

    @if (Model.ServiceDocuments != null && Model.ServiceDocuments.Any())
    {

        <table class="table table-hover">
            <thead>
                <tr>
                    <th style="min-width: 160px;"><label class="table-title">File</label></th>
                    <th style="width: 100px;"><label class="font-title-initial">Date</label></th>
                    <th><label class="font-title-initial">Uploader</label></th>
                    <th></th>
                </tr>
            </thead>

            @foreach (var document in Model.ServiceDocuments)
            {
                <tr>
                    <td>@Html.ActionLink(document.Filename, "DownloadServiceDocument", new { id = document.StorageNameGuid })</td>
                    <td>@document.UploadDate</td>
                    <td>@document.Uploader</td>
                    <td>
                        <div class="btn-group">
                            <div data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn-empty">
                                <span aria-hidden="true">&#x25BC;</span>
                            </div>
                            <div class="dropdown-menu">
                                <ul class="ul-menu">
                                    <li>
                                        @Html.ActionLink("Rename", "UpdateServiceDocument", new { id = document.StorageNameGuid })
                                    </li>

                                    <li>
                                        @Html.ActionLink("Delete", "ConfirmDeleteServiceDocument", new { id = document.StorageNameGuid })
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <div class="alert alert-warning">No files exist</div>
    }
</div>

@using (Html.BeginForm("UploadServiceDocument", "Service", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.Hidden("id", Model.Id)
    <div class="flex-container">
        <div class="panel-footer">

            <div class="fileupload fileupload-new float-right-div" data-provides="fileupload">
                <span class="fileupload-preview"></span>
                <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
                <span class="btn btn-primary btn-file">
                    <span class="fileupload-new">Select file</span>
                    <span class="fileupload-exists">Change</span>         <input type="file" name="file" />

                </span>
                <span class="fileupload-exists"><input type="submit" value="Upload" class="btn btn-primary" /></span>


            </div>
        </div>
    </div>
}