@using Common.Enums.Entities
@using Common.Enums.Permissions
@using Prometheus.WebUI.Helpers
@model Prometheus.WebUI.Models.Service.SwotTableModel
@{
    int userId; /* determine user ID for permissions */
    try { userId = int.Parse(Session["Id"].ToString()); }
    catch { return; } /*abort rendering */
}
<div class="flex-square-container">
    <div class="flex-square-content">
        <div class="flex-row">

            <div class="flex-col">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th colspan="2"><span class="table-title">@ServiceSwotType.Strength</span></th>
                        </tr>
                    </thead>
                    <tbody>

                        @if (Model.Strengths != null && Model.Strengths.Any())
                        {
                            foreach (var item in Model.Strengths)
                            {
                                <tr>
                                    <td>
                                        @Html.ActionLink(item.Item, "ShowServiceSectionItem", new { id = item.Id, section = "Swot", serviceId = item.ServiceId }, null)
                                    </td>
                                    <td>
                                        @if (UiPermissionHelper.HasPermission(userId, ServiceDetails.CanEditServiceDetails))
                                        {
                                            <div class="btn-group">
                                                <div data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn-empty">
                                                    <span aria-hidden="true">&#x25BC;</span>
                                                </div>
                                                <ul class="dropdown-menu">
                                                    <li>@Html.ActionLink("Update", "UpdateServiceSectionItem", new { id = item.ServiceId, serviceId = item.ServiceId, section = "Swot" })</li>
                                                    <li>@Html.ActionLink("Delete", "ConfirmDeleteServiceSwotItem", new { id = item.Id })</li>
                                                    <li role="separator" class="divider"></li>
                                                    <li>@Html.ActionLink("Add Strength", "AddServiceSectionItem", new { id = item.ServiceId, section = "SwotStrength" }) </li>
                                                    <li>@Html.ActionLink("Add Activity", "AddSwotActivityItem", new { id = item.Id }) </li>
                                                </ul>
                                            </div>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>

                @if (Model.Strengths == null || !Model.Strengths.Any())
                {
                    <div class="alert alert-warning alert-mess">
                        No strengths exist.
                        @if (UiPermissionHelper.HasPermission(userId, ServiceDetails.CanEditServiceDetails))
                        {
                            @Html.ActionLink("Add", "AddServiceSectionItem", new { id = Model.ServiceId, section = "SwotStrength" })
                        }
                    </div>
                }
            </div>
            <div class="flex-col">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th colspan="2"><span class="table-title">Opportunities</span></th>
                        </tr>
                    </thead>
                    <tbody>

                        @if (Model.Opportunities != null && Model.Opportunities.Any())
                        {

                            foreach (var item in Model.Opportunities)
                            {
                                <tr>
                                    <td>
                                        @Html.ActionLink(item.Item, "ShowServiceSectionItem", new { id = item.Id, section = "Swot", serviceId = item.ServiceId }, null)
                                    </td>
                                    <td>
                                        @if (UiPermissionHelper.HasPermission(userId, ServiceDetails.CanEditServiceDetails))
                                        {
                                            <div class="btn-group">
                                                <div data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn-empty">
                                                    <span aria-hidden="true">&#x25BC;</span>
                                                </div>

                                                <ul class="dropdown-menu">
                                                    <li>
                                                        @Html.ActionLink("Update", "UpdateServiceSectionItem", new { serviceId = item.ServiceId, section = "Swot", id = item.Id })
                                                    </li>
                                                    <li>
                                                        @Html.ActionLink("Delete", "ConfirmDeleteServiceSwotItem", new { id = item.Id })
                                                    </li>
                                                    <li role="separator" class="divider"></li>
                                                    <li>@Html.ActionLink("Add Opportunity", "AddServiceSectionItem", new { id = item.ServiceId, section = "SwotOpportunity" }) </li>
                                                    <li>@Html.ActionLink("Add Activity", "AddSwotActivityItem", new { id = item.Id }) </li>
                                                </ul>
                                            </div>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>

                @if (Model.Opportunities == null || !Model.Opportunities.Any())
                {
                    <div class="alert alert-warning alert-message">
                        No opportunities exist.
                        @if (UiPermissionHelper.HasPermission(userId, ServiceDetails.CanEditServiceDetails))
                        {
                            @Html.ActionLink("Add", "AddServiceSectionItem", new {id = Model.ServiceId, section = "SwotOpportunity"})
                        }
                    </div>
                }
            </div>
        </div>
        <div class="flex-row">
            <div class="flex-col">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th colspan="2"><span class="table-title">Weaknesses</span></th>
                        </tr>
                    </thead>
                    <tbody>

                        @if (Model.Weaknesses != null && Model.Weaknesses.Any())
                        {
                            foreach (var item in Model.Weaknesses)
                            {
                                <tr>
                                    <td>
                                        @Html.ActionLink(item.Item, "ShowServiceSectionItem", new { id = item.Id, section = "Swot", serviceId = item.ServiceId }, null)
                                    </td>
                                    <td>
                                        @if (UiPermissionHelper.HasPermission(userId, ServiceDetails.CanEditServiceDetails))
                                        {
                                            <div class="btn-group">
                                                <div data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn-empty">
                                                    <span aria-hidden="true">&#x25BC;</span>
                                                </div>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        @Html.ActionLink("Update", "UpdateServiceSectionItem", new { serviceId = item.ServiceId, id = item.Id, section = "Swot" })
                                                    </li>
                                                    <li>
                                                        @Html.ActionLink("Delete", "ConfirmDeleteServiceSwotItem", new { id = item.Id })
                                                    </li>
                                                    <li role="separator" class="divider"></li>
                                                    <li>@Html.ActionLink("Add Weakness", "AddServiceSectionItem", new { id = item.ServiceId, section = "SwotWeakness" }) </li>
                                                    <li>@Html.ActionLink("Add Activity", "AddSwotActivityItem", new { id = item.Id }) </li>
                                                </ul>
                                            </div>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>

                @if (Model.Weaknesses == null || !Model.Weaknesses.Any())
                {
                    <div class="alert alert-warning alert-message">
                        No weaknesses exist.
                        @if (UiPermissionHelper.HasPermission(userId, ServiceDetails.CanEditServiceDetails))
                        {
                            @Html.ActionLink("Add", "AddServiceSectionItem", new { id = Model.ServiceId, section = "SwotWeakness" })
                        }
                    </div>

                }
            </div>
            <div class="flex-col">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th colspan="2"><span class="table-title">Threats</span></th>
                        </tr>
                    </thead>
                    <tbody>

                        @if (Model.Threats != null && Model.Threats.Any())
                        {

                            foreach (var item in Model.Threats)
                            {
                                <tr>
                                    <td>
                                        @Html.ActionLink(item.Item, "ShowServiceSectionItem", new { id = item.Id, section = "Swot", serviceId = item.ServiceId }, null)
                                    </td>
                                    <td>
                                        @if (UiPermissionHelper.HasPermission(userId, ServiceDetails.CanEditServiceDetails))
                                        {
                                            <div class="btn-group">
                                                <div data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn-empty">
                                                    <span aria-hidden="true">&#x25BC;</span>
                                                </div>
                                                <ul class="dropdown-menu">
                                                    <li>@Html.ActionLink("Update", "UpdateServiceSectionItem", new { serviceId = item.ServiceId, section = "Swot", id = item.Id })</li>
                                                    <li>@Html.ActionLink("Delete", "ConfirmDeleteServiceSwotItem", new { id = item.Id })</li>
                                                    <li role="separator" class="divider"></li>
                                                    <li>@Html.ActionLink("Add Strength", "AddServiceSectionItem", new { id = item.ServiceId, section = "SwotOpportunity" }) </li>
                                                    <li>@Html.ActionLink("Add Activity", "AddSwotActivityItem", new { id = item.Id }) </li>
                                                </ul>
                                            </div>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>

                @if (Model.Threats == null || !Model.Threats.Any())
                {
                    <div class="alert alert-warning alert-message">
                        No threats exist.
                        @if (UiPermissionHelper.HasPermission(userId, ServiceDetails.CanEditServiceDetails))
                        {
                            @Html.ActionLink("Add", "AddServiceSectionItem", new { id = Model.ServiceId, section = "SwotThreat" })
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>