@model Prometheus.WebUI.Models.Service.ServiceBundleModel


@if (Model != null && Model.ServiceBundles.Any())
{
    int rowLength = 0;

    <div class="btn-group" data-toggle="buttons">
        @foreach (var status in Model.ServiceBundles)
        {
            if (rowLength > 3)
            {
                <br/>
                rowLength = 0;
            }

            <label class="btn btn-default" id="ServiceBundle@(status.Item1)">
                @if (Model.SelectedServiceBundle == status.Item1)
                {
                    @Html.RadioButton("ServiceBundleId", @status.Item1, true)
                }
                else
                {
                    @Html.RadioButton("ServiceBundleId", @status.Item1, false)
                }
                @status.Item2
            </label>
            rowLength++;
        }
</div>
}
else
{
    <div class="alert alert-warning">No service bundles exist</div>
}

@if (Model != null)
{
    <script type="text/javascript" language="javascript">
        $('#ServiceBundle@(Model.SelectedServiceBundle)').button('toggle');
    </script>
}