@model Common.Dto.ServiceDto
    <div class="dd">
	    <div class="dd-row">
		    <div class="dt-cell">Name</div>
		    <div class="dd-cell">@Model.Name</div>
	    </div>
		<div class="dd-row">
			<div class="dt-cell">Business Value</div>
			<div class="dd-cell">@Html.Raw(Model.BusinessValue)</div>
		</div>
        <div class="dd-row">
            <div class="dt-cell">Description</div>
            <div class="dd-cell">@Html.Raw(Model.Description)</div>
        </div>
        <div class="dd-row">
            <div class="dt-cell">Business Owner</div>
            <div class="dd-cell">@Model.BusinessOwner</div>
        </div>
        <div class="dd-row">
            <div class="dt-cell">Service Owner</div>
            <div class="dd-cell">@Model.ServiceOwner</div>

        </div>
        <div class="dd-row">

            <div class="dt-cell">Service Type</div>
            <div class="dd-cell">
                <div class="dd">
                    <div class="dd-row">
                        <div class="dt-cell">Role</div>
                        <div class="dd-cell">@Model.ServiceTypeRole</div>
                    </div>
                    <div class="dd-row">
                        <div class="dt-cell">Provision</div>
                        <div class="dd-cell">@Model.ServiceTypeProvision</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dd-row">
            <div class="dt-cell">Status</div>
            <div class="dd-cell">@Model.LifecycleStatusDto.Name</div>
        </div>
    </div>
