@model DataService.Models.Service

                <div class="std-div">
    <label class="font-title-initial">Name</label>
    @Html.ValidationMessage(Model.Name)
    @Html.TextBox("Name", Model.Name, new { @class = "form-control" })

    <label class="font-title-initial">Description</label>
    @Html.TextArea("Description", Model.Description, new { @class = "form-control", rows = "6", cols = "60" })

    <label class="font-title-initial">Service Type</label>
    <div class="std-indent">
        <div>
            <label class="font-title-initial">Role</label><br />
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default">
                    @Html.RadioButton("Chartered", "Chartered",
                                        new { id = "false" }) Customer-facing
                </label>

                <label class="btn btn-default">
                    @Html.RadioButton("Operational", "Operational",
                                        new { id = "true" }) Supporting
                </label>
            </div>
        </div>
        <div>
            <label class="font-title-initial">Provision</label><br />
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default">
                    @Html.RadioButton("Chartered", "Chartered",
                                        new { id = "false" }) Internal
                </label>
                <label class="btn btn-default">
                    @Html.RadioButton("Chartered", "Chartered",
                                        new { id = "false" }) External
                </label>
            </div>
        </div>

    </div>
    <div>
        <label class="font-title-initial">Service Owner</label>
        @Html.TextBox("ServiceOwner", Model.ServiceOwner, new { @class = "form-control" })
    </div>

    <div>
        <label class="font-title-initial">Business Owner</label>
        @Html.TextBox("BusinessOwner", Model.BusinessOwner, new { @class = "form-control" })
    </div>

    <label class="font-title-initial">Lifecycle Status</label>

    <div class="form-group">
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default">
                @Html.RadioButton("Chartered", "Chartered",
                                new { id = "false" }) Chartered
            </label>

            <label class="btn btn-default">
                @Html.RadioButton("Operational", "Operational",
                                new { id = "true" }) Operational
            </label>

            <label class="btn btn-default">
                @Html.RadioButton("Retired", "Retired",
                                new { id = "true" }) Retired
            </label>

            <label class="btn btn-default">
                @Html.RadioButton("Operational", "Cancelled",
                                new { id = "true" }) Cancelled
            </label>


        </div>
    </div>

    <div class="panel-footer">
        &nbsp;
        <div class="float-right-div">
            <input type="submit" value="Save" class="btn btn-primary" />
            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
        </div>
    </div>
</div>