@model Prometheus.WebUI.Models.Service.UpdateOptionCategoryModel

<input type="hidden" name="Id" value="@Model.OptionCategory.Id" />
@Html.Hidden("ServiceId", Model.ServiceId)

<table>
	<tr>
		<td class="dt-cell">Name</td>
		<td class="dd-cell">
			@Html.TextBox("Name", Model.OptionCategory.Name, new {@class = "form-control"})
			@Html.ValidationMessageFor(model => model.OptionCategory.Name)
		</td>
	</tr>
	<tr>
		<td class="dt-cell">Popularity</td>
		<td class="dd-cell">
			@Html.DropDownList("Popularity", Enumerable.Range(1, 5).Select(i => new SelectListItem {Text = i.ToString(), Value = i.ToString()}), new {style = "width:60px;" })
		</td>
	</tr>
	<tr>
		<td class="dt-cell">Description</td>
		<td class="dd-cell">@Html.TextArea("Description", Model.OptionCategory.Description, new {@class = "ckeditor"})</td>
	</tr>
	<tr>
		<td class="dt-cell">Options</td>
		<td class="dd-cell">
			@Html.DropDownList("ServiceOptionIds", Model.Options, new { placeholder = "Select options..." })
		</td>
	</tr>

</table>

<script type="text/javascript" language="javascript">
    $('#Popularity')
            .selectize({
                maxItems: 1
            });
	$('#ServiceOptionIds').selectize({
		plugins: ['remove_button'],
		maxItems: 10,
		delimiter: ',',
		persist: false
		});
</script>