@model Common.Dto.ServiceGoalDto

@using Common.Enums.Entities

<input type="hidden" name="Id" value="@Model.Id" />
<input type="hidden" name="ServiceId" value="@Model.ServiceId" />

<div class="dd make-space-top">

    <div class="dd-row">
        <div class="dt-cell">Name</div>
        <div class="dd-cell">
            @Html.TextBox("Name", Model.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>
    </div>

    <div class="dd-row">
        <div class="dt-cell">Description</div>
        <div class="dd-cell">@Html.TextArea("Description", Model.Description, new { @class = "ckeditor" })</div>
    </div>
    <div class="dd-row">
        <div class="dt-cell">Type</div>
        <div class="dd-cell">
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default" id="@ServiceGoalType.ShortTerm">
                    @(Model.Id > 0 && Model.Type == ServiceGoalType.ShortTerm ? Html.RadioButton("Type", ServiceGoalType.ShortTerm, true) : Html.RadioButton("Type", ServiceGoalType.ShortTerm, false))
                    Short Term
                </label>

                <label class="btn btn-default" id="@ServiceGoalType.LongTerm">
                    @(Model.Id > 0 && Model.Type == ServiceGoalType.LongTerm ? Html.RadioButton("Type", ServiceGoalType.LongTerm, true) : Html.RadioButton("Type", ServiceGoalType.LongTerm, false))
                    Long Term
                </label>
            </div>
            @Html.ValidationMessageFor(model => model.Type)
        </div>

    </div>
    <div class="dd-row">
        <div class="dt-cell">Start Date</div>
        <div class="dd-cell">
            <div class="input-group date" data-provide="datepicker">
                @Html.TextBox("StartDate", Model.StartDate?.ToString("MM/dd/yyyy") ?? "", new { @class = "form-control" })
                <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
            </div>

        </div>
    </div>
    <div class="dd-row">
        <div class="dt-cell">End Date</div>
        <div class="dd-cell">
            <div class="input-group date" data-provide="datepicker">
                @Html.TextBox("EndDate", Model.StartDate?.ToString("d") ?? "", new { @class = "form-control" })
                <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
            </div>
        </div>
    </div>
</div>


<script language="javascript" type="text/javascript">

    $(function () {
        $('#EndDate')
            .datepicker({
                format: "mm-dd-yyyy",
                autoclose: true
            });
        $('#StartDate')
            .datepicker({
                format: "mm-dd-yyyy",
                autoclose: true
            });
        @if (Model.Id > 0)
        {
            <text>
        $('#@(Model.Type)').button('toggle');
        </text>

        }
    });


</script>