@using Common.Enums
@model Common.Dto.ServiceDto

<input type="hidden" name="Id" value="@Model.Id" />
<table>
    @foreach (var property in ViewData.ModelMetadata.Properties)
    {
        if (property.PropertyName.Contains("Description"))
        {
            <tr>
                <td class="dt-cell">@(property.DisplayName ?? property.PropertyName)</td>
                <td class="dd-cell">
                    @Html.TextArea(property.PropertyName, new { @class = "ckeditor" })
                    @Html.ValidationMessage(property.PropertyName)
                </td>
            </tr>
        
        }
        else if (property.PropertyName.Contains("StatusId"))
        {
            <tr>
                <td class="dt-cell">@property.DisplayName</td>

                <td class="dd-cell">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-default">
                            @Html.RadioButton("Chartered", "Chartered",
                                new {id = "false"}) Chartered
                        </label>

                        <label class="btn btn-default">
                            @Html.RadioButton("Operational", "Operational",
                                new {id = "true"}) Operational
                        </label>

                        <label class="btn btn-default">
                            @Html.RadioButton("Retired", "Retired",
                                new {id = "true"}) Retired
                        </label>

                        <label class="btn btn-default">
                            @Html.RadioButton("Operational", "Cancelled",
                                new {id = "true"}) Cancelled
                        </label>
                    </div>
                    @Html.ValidationMessage(property.PropertyName)
                </td>
            </tr>
        }

        else if (property.PropertyName.Contains("Role"))
        {
            <tr>
                <td class="dt-cell">Service Type</td>
                <td class="dd-cell">
                    <table style="margin-top: 10px; margin-bottom: 10px;">
                        <tr>
                            <td class="dt-cell">
                                Role
                            </td>
                            <td class="dd-cell">
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-default">
                                        @Html.RadioButton("ServiceTypeRole", ServiceTypeRole.Business, false) Customer-facing
                                    </label>

                                    <label class="btn btn-default">
                                        @Html.RadioButton("ServiceTypeRole", ServiceTypeRole.Supporting, false) Supporting
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="dt-cell">
                                Provision
                            </td>
                            <td class="dd-cell">
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-default">
                                        @Html.RadioButton("Chartered", "Chartered",
                                            new { id = "false" }) Internal
                                    </label>
                                    <label class="btn btn-default">
                                        @Html.RadioButton("Chartered", "Chartered",
                                            new { id = "false" }) External
                                    </label>
                                </div>

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        }

    }

</table>