@using Common.Enums
@model dynamic



<table>
    @foreach (var property in ViewData.ModelMetadata.Properties)
    {
        if (!property.PropertyName.Contains("Id") && !property.PropertyName.Contains("Date") && !property.PropertyName.Contains("Activ")) //remove Ids and SWOT activities
        {
            <tr>
                <td class="dt-cell">@(property.DisplayName ?? property.PropertyName)</td>
                @if (property.PropertyName == "Description" || property.PropertyName == "Responsibilities")
                {
                    <td class="dd-cell">@Html.TextArea(property.PropertyName, new { @class = "ckeditor" })</td>
                }
                else if (property.PropertyName == "Type")
                {
                    <td class="dd-cell">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-default">
                                @(Model.Type == ServiceGoalType.ShortTerm ? Html.RadioButton("Type", "ShortTerm", true) : Html.RadioButton("Type", "ShortTerm", false))
                            </label>

                            <label class="btn btn-default">
                                @(Model.Type == ServiceGoalType.LongTerm ? Html.RadioButton("Type", "LongTerm", true) : Html.RadioButton("Type", "LongTerm", false))
                            </label>
                        </div>

                    </td>
                }

                else
                {
                    <td class="dd-cell">
                        @Html.TextBox(property.PropertyName, property.Model, null, new { @class = "form-control" })
                        @Html.ValidationMessage(property.PropertyName)
                    </td>
                }
            </tr>
        }
        else if (property.PropertyName.Contains("Date") && (property.DisplayName != null && property.DisplayName.Contains(" Date")))
        {
            <tr>
                <td class="dt-cell">
                    @(property.DisplayName ?? property.PropertyName)
                </td>
                <td class="dd-cell">
                    @Html.TextBox(property.PropertyName, property.Model, null, new { @class = "form-control" })
                </td>
            </tr>
        }
        else if (property.PropertyName == "Id") //this is kind of silly.... 
        {
            <tr>
                <td>
                    <input type="hidden" name="Id" value="@property.Model" />
                </td>
            </tr>
        }
        else if (property.PropertyName == "ServiceId")
        {
            <tr>
                <td>
                    <input type="hidden" name="ServiceId" value="@property.Model" />
                </td>
            </tr>
        }

    }

</table>


<script language="javascript" type="text/javascript">
    $(function () {
        $('#Date').datepicker({
            autoclose: true
        });
        $('#EndDate').datepicker({
            autoclose: true
        });
        $('#StartDate').datepicker({
            autoclose: true
        });
    })
</script>