@model dynamic

<div class="dd full-width">
    @foreach (var property in ViewData.ModelMetadata.Properties)
    {
        if (!property.PropertyName.Contains("Id") && !property.PropertyName.Contains("Date")) //remove Ids and SWOT activities
        {
            <div class="dd-row">
                <div class="dt-cell">@(property.DisplayName ?? property.PropertyName)</div>
                @if (property.PropertyName == "Description" || property.PropertyName == "Responsibilities" || property.PropertyName == "Outcome" 
                    || property.PropertyName == "Benefits" || property.PropertyName == "Improvements")
                {
                    <div class="dd-cell">@Html.TextArea(property.PropertyName, new { @class = "ckeditor" })</div>
                }

                else
                {
                    <div class="dd-cell">
                        @Html.TextBox(property.PropertyName, property.Model, null, new { @class = "form-control" })
                        @Html.ValidationMessage(property.PropertyName)
                    </div>
                }
            </div>
        }
        else if (property.PropertyName.Contains("Date") && (property.DisplayName != null && property.DisplayName.Contains(" Date")))
        {
            <div class="dd-row">
                <div class="dt-cell">
                    @(property.DisplayName ?? property.PropertyName)
                </div>
                <div class="dd-cell">
                    <div class="input-group date">
                        @Html.TextBox(property.PropertyName, (DateTime) property.Model > DateTime.MinValue ? ((DateTime) property.Model).ToString("MM/dd/yyyy") : "", new {@class = "form-control"})
                        <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                        
                    </div>
                    @Html.ValidationMessage(property.PropertyName)
                </div>
            </div>
        }
        else if (property.PropertyName == "Id") //this is kind of silly.... 
        {
            <div class="dd-row">
                <div class="dt-cell">
                    <input type="hidden" name="Id" value="@property.Model" />
                </div>
            </div>
        }
        else if (property.PropertyName == "ServiceId")
        {
            <div class="dd-row">
                <div class="dt-cell">
                    <input type="hidden" name="ServiceId" value="@property.Model" />
                </div>
            </div>
        }

    }

</div>


<script language="javascript" type="text/javascript">
    $(function () {
        $('#Date').datepicker({
            autoclose: true,
            format: "mm-dd-yyyy"
        });
        $('#EndDate').datepicker({
                format: "mm-dd-yyyy",
                autoclose: true
            });
        $('#StartDate').datepicker({
            format: "mm-dd-yyyy",
            autoclose: true
        });
        $('#ExpiryDate').datepicker({
            autoclose: true,
            format: "mm-dd-yyyy"
        });

    })
</script>