@model Prometheus.WebUI.Models.Service.UpdateOptionCategoryModel

<input type="hidden" name="Id" value="@Model.OptionCategory.Id" />
@Html.Hidden("ServiceId", Model.ServiceId)

<table>
	<tr>
		<td class="dt-cell">Name</td>
		<td class="dd-cell">
			@Html.TextBox("Name", Model.OptionCategory.Name, new {@class = "form-control"})
			@Html.ValidationMessageFor(model => model.OptionCategory.Name)
		</td>
	</tr>

	<tr>
		<td class="dt-cell">Business Value</td>
		<td class="dd-cell">@Html.TextArea("BusinessValue", Model.OptionCategory.BusinessValue, new {@class = "ckeditor"})</td>
	</tr>
</table>

<script type="text/javascript" language="javascript">
    $('#Popularity')
            .selectize({
                maxItems: 1
            });
	$('#ServiceOptionIds').selectize({
		plugins: ['remove_button'],
		maxItems: 10,
		delimiter: ',',
		persist: false
		});
</script>