@using Common.Enums
@model Common.Dto.ServiceSwotDto

@Html.Hidden("ServiceId", Model.ServiceId)

<table>
    @foreach (var property in ViewData.ModelMetadata.Properties)
    {
        if (property.PropertyName.Contains("Id") || property.PropertyName.Contains("Activities") || property.PropertyName.Contains("Date"))
        {
            continue;
        }

        <tr>
            <td class="dt-cell">@(property.DisplayName ?? property.PropertyName)</td>

            @if (property.PropertyName == "Type")
            {
                <td class="dd-cell">
                    <div class="btn-group" data-toggle="buttons">
                        @foreach (var type in Enum.GetValues(typeof(ServiceSwotType)))
                        {

                        <label class="btn btn-default" id="type">
                            @Html.RadioButton("Type", type) type
                        </label>
                        }

   
                    </div>
                </td>
            }
            else if (property.PropertyName == "Description")
            {


                <td class="dd-cell">
                    @Html.TextArea(property.PropertyName, new { @class = "ckeditor" })
                </td>
            }
            else
            {
                <td class="dd-cell">@Html.TextBox(property.PropertyName, property.Model, null, new { @class = "form-control" })</td>

            }

        </tr>
    }
</table>