@model Common.Dto.ServiceDto

<input type="hidden" name="Id" value="@Model.Id" />
<table>
    @foreach (var property in ViewData.ModelMetadata.Properties)
    {
        if (property.PropertyName == "Description")
        {
            <tr>
                <td class="dt-cell">@(property.DisplayName ?? property.PropertyName)</td>
                <td class="dd-cell">

                    @Html.TextArea(property.PropertyName, new { @class = "ckeditor ck-mod" })
                </td>
                <td>@Html.ValidationMessage(property.PropertyName)</td>
            </tr>
        }
        else if (property.PropertyName == "Name" || property.PropertyName.Contains("Owner"))
        {
            <tr>
                <td class="dt-cell">@(property.DisplayName ?? property.PropertyName)</td>
                <td class="dd-cell">
                    @Html.TextBox(property.PropertyName, property.Model, new { @class = "form-control" })
                </td>
                <td>@Html.ValidationMessage(property.PropertyName)</td>
            </tr>
        }
        else if (property.PropertyName.Contains("StatusId"))
        {
            <tr>
                <td class="dt-cell">Lifecycle Status</td>

                <td class="dd-cell">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-default">
                            @Html.RadioButton("Chartered", "Chartered",
                                new { id = "false" }) Chartered
                        </label>

                        <label class="btn btn-default">
                            @Html.RadioButton("Operational", "Operational",
                                new { id = "true" }) Operational
                        </label>

                        <label class="btn btn-default">
                            @Html.RadioButton("Retired", "Retired",
                                new { id = "true" }) Retired
                        </label>

                        <label class="btn btn-default">
                            @Html.RadioButton("Operational", "Cancelled",
                                new { id = "true" }) Cancelled
                        </label>


                    </div>
                </td>
                <td>@Html.ValidationMessage(property.PropertyName)</td>
            </tr>
        }

        else if (property.PropertyName.Contains("Role"))
        {
            <tr>
                <td class="dt-cell">Service Type</td>
                <td class="dd-cell">
                    <table style="margin-top: 10px; margin-bottom: 10px;">
                        <tr>
                            <td class="dt-cell">
                                Role
                            </td>
                            <td class="dd-cell">
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-default">
                                        @Html.RadioButton("Chartered", "Chartered",
                                            new {id = "false"}) Customer-facing
                                    </label>

                                    <label class="btn btn-default">
                                        @Html.RadioButton("Operational", "Operational",
                                            new {id = "true"}) Supporting
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="dt-cell">
                                Provision
                            </td>
                            <td class="dd-cell">
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-default">
                                        @Html.RadioButton("Chartered", "Chartered",
                                            new {id = "false"}) Internal
                                    </label>
                                    <label class="btn btn-default">
                                        @Html.RadioButton("Chartered", "Chartered",
                                            new {id = "false"}) External
                                    </label>
                                </div>

                            </td>
                        </tr>
                    </table>
                </td>
                <td>@Html.ValidationMessage(property.PropertyName)</td>
            </tr>
        }
    }

</table>