@model Common.Dto.ISwotActivityDto

<input type="hidden" name="Id" value="@Model.Id" />
@Html.Hidden("ServiceSwotId", Model.ServiceSwotId)

<table>
    <tr>
        <td class="dt-cell">Name</td>
        <td class="dd-cell">
            @Html.TextBox("Name", Model.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Name)
        </td>
    </tr>
    <tr>
        <td class="dt-cell">Description</td>
        <td class="dd-cell">@Html.TextArea("Description", Model.Description, new { @class = "ckeditor" })</td>
    </tr>
    <tr>
        <td class="dt-cell">Date</td>
        <td class="dd-cell">
            <div class="input-group date">
                @Html.TextBox("Date", Model.Date>DateTime.MinValue ? Model.Date.ToString("d") : "", new { @class = "form-control" })
                <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                @Html.ValidationMessageFor(model => model.Date)
            </div>
        </td>
    </tr>

</table>

<script language="javascript" type="text/javascript">
    $(function () {
        $('#Date').datepicker({
            autoclose: true,
            format: "mm-dd-yyyy"
        });
    });
</script>
