@using Prometheus.WebUI.Helpers
@model Prometheus.WebUI.Models.UserAccount.UserAccountModel
@{
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
    ViewBag.Title = "Login";
}


    @Html.AntiForgeryToken()
    <div class="content-body">
    <div class="panel-primary" style="max-width: 600px;">
        <div class="panel-heading" style="padding-top: 10px;">
            <div class="hugetitle-div">
                Prometheus Login
            </div>
            <div style="margin-top: 10px;">
                <ul>
                    <li>Login using your Windows login credentials</li>
                    <li>If you are not able to login, you will need to contact your IT Service Desk at @ConfigHelper.GetSpoc()</li>
                </ul>

                <p>
            </div>
        </div>
        <div class="panel-body">
            @if (TempData["MessageType"] != null && TempData["Message"] != null)
            {
                <div class="alert alert-dismissable alert-danger close" role="alert" data-dismiss="alert" aria-label="Close">
                    <div class="dd">
                        <div class="dd-row">
                            <div class="dt-cell">
                                <div class="float-left-div;">&times;</div>
                            </div>
                            <div class="dd-cell">@TempData["Message"]</div>
                        </div>
                    </div>
                </div>
            }

            <div>
                @using (Html.BeginForm("Login", "UserAccount", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

							<div class="title-div" style="max-width: 650px;">Login</div>

                    <div class="dd make-space-top">
                        <div class="dd-row">
                            <div class="dt-cell"><label for="Username">Username</label></div>
                            <div class="dd-cell">
                                @Html.TextBox("Username", null, new {@class = "form-control", id="Username"})
                                @Html.ValidationMessageFor(model => model.Username)
                            </div>

                        </div>
                        <div class="dd-row">
                            <div class="dt-cell"><label for="Password">Password</label></div>
                            <div class="dd-cell">
                                @Html.Password("Password", null, new {@class = "form-control", id="Password"})
                                @Html.ValidationMessageFor(model => model.Password)
                            </div>
                        </div>
                        <div class="dd-row">
                            <div></div>
                            <div class="dd-cell"><input type="submit" name="Login" value="Login" class="btn btn-primary"/></div>
                        </div>
                    </div>
                }
            </div>
                @using (Html.BeginForm("LoginGuest", "UserAccount", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div>Or Continue as a <input type="submit" value="Guest" class="btn-link" /></div>
                }

        </div>
        <div class="panel-footer">
            <span class="copyright-notice">&copy;2017 Prometheus</span>
        </div>
    </div>

</div>

    

