@model Common.Dto.RoleDto
@using System.Web.Mvc.Html
@using Common.Enums.Permissions
@using Prometheus.WebUI.Helpers

<input type="hidden" name="id" value="@Model.Id" />

<table>
	<tr>
	<td class="dt-cell">Name</td>
	<td class="dd-cell">
			@Html.TextBox("Name", Model.Name, new { @class = "form-control" })
		@Html.ValidationMessage("Name")
	</td>
</tr>
</table>

<div class="flex-container-col">
	<div class="subsubtitle-div">Roles</div>

	<div class="subsubtitle-div make-space-top">Approve Service Requests</div>
	<div class="btn-group" data-toggle="buttons">
		@foreach (ApproveServiceRequest permission in Enum.GetValues(typeof(ApproveServiceRequest)))
		{
			<label class="btn btn-default" id="@permission">
				@Html.RadioButton("ApproveServiceRequest", permission, false)
				@StringHelper.CamelToString(permission.ToString())
			</label>
		}
	</div>


	<div class="subsubtitle-div make-space-top">Business Catalog</div>
	<div class="btn-group" data-toggle="buttons">
		@foreach (BusinessCatalog permission in Enum.GetValues(typeof(BusinessCatalog)))
		{
			<label class="btn btn-default" id="@permission">
				@Html.RadioButton("BusinessCatalog", permission, false)
				@StringHelper.CamelToString(permission.ToString())
			</label>
		}
	</div>

	<div class="subsubtitle-div make-space-top">Technical Requests</div>
	<div class="btn-group" data-toggle="buttons">
		@foreach (SupportCatalog permission in Enum.GetValues(typeof(SupportCatalog)))
		{
			<label class="btn btn-default" id="@permission">
				@Html.RadioButton("SupportingCatalog", permission, false)
				@StringHelper.CamelToString(permission.ToString())
			</label>
		}
	</div>


	<div class="subsubtitle-div make-space-top">Role/Permission Adjustment</div>
	<div class="btn-group" data-toggle="buttons">
		@foreach (RolePermissionAdustment permission in Enum.GetValues(typeof(RolePermissionAdustment)))
		{
			<label class="btn btn-default" id="@permission">
				@Html.RadioButton("RolePermissionAdjustment", permission, false)
				@StringHelper.CamelToString(permission.ToString())
			</label>
		}
	</div>


	<div class="subsubtitle-div make-space-top">Service Details</div>
	<div class="btn-group" data-toggle="buttons">
		@foreach (ServiceDetails permission in Enum.GetValues(typeof(ServiceDetails)))
		{
			<label class="btn btn-default" id="@permission">
				@Html.RadioButton("ServiceDetails", permission, false)
				@StringHelper.CamelToString(permission.ToString())
			</label>
		}
	</div>

	<div class="subsubtitle-div make-space-top">Service Request Assignment</div>
	<div class="btn-group" data-toggle="buttons">
		@foreach (ServiceRequestSubmission permission in Enum.GetValues(typeof(ServiceRequestSubmission)))
		{
			<label class="btn btn-default" id="@permission">
				@Html.RadioButton("ServiceRequestSubmission", permission, false)
				@StringHelper.CamelToString(permission.ToString())
			</label>
		}
	</div>
	<div class="subsubtitle-div make-space-top">User/Role Assignment</div>
	<div class="btn-group" data-toggle="buttons">
		@foreach (UserRoleAssignment permission in Enum.GetValues(typeof(UserRoleAssignment)))
		{
			<label class="btn btn-default" id="@permission">
				@Html.RadioButton("UserRoleAssignment", permission, false)
				@StringHelper.CamelToString(permission.ToString())
			</label>
		}
	</div>

</div>