@using System.Collections
@using Common.Dto
@model dynamic



<table>
    @foreach (var property in ViewData.ModelMetadata.Properties)
    {
        if (property.PropertyName.Contains("Id") || property.PropertyName.Contains("Date"))
        {
            continue;
        }
        <tr>
            <td class="dt-cell">@(property.DisplayName ?? property.PropertyName)</td>
            <td class="dd-cell">

                @if (property.PropertyName == "Services")
                {
                    int i = 1;
                    var services = (ICollection<IServiceDto>)property.Model;

                    foreach (var service in services)
                    {
                        
                        if (i < services.Count)
                        {
                            @service.Name<text>,</text>
                            i++;
                        }
                        else
                        {
                            @service.Name

                        }

                    }
                }
                else
                {
                    @Html.Raw(@property.Model)
                }
            </td>

        </tr>



    }
</table>
