@using DataService.Models
@model ServiceBundle

<div class="std-div">
    @using (Html.BeginForm("Save", "ServicePortfolio", FormMethod.Post))
    {
        <table class="std-table">
            <tr>
                <td class="std-cell">

                    @foreach (var property in ViewData.ModelMetadata.Properties)
                    {
                        if (property.PropertyName != "Id" && property.PropertyName != "Services" &&
                               !property.PropertyName.Contains("UserId") && !property.PropertyName.Contains("Date"))
                        {
                            if (property.PropertyName == "Description" || property.PropertyName == "BusinessValue")
                            {
                                <div class="form-group">
                                    <label class="font-title-initial">@(property.DisplayName ?? property.PropertyName)</label>
                                   @Html.TextArea(property.PropertyName, new { @class = "ckeditor" })
                                </div>
                            }
                            else
                            {
                                <div style="width: 400px;">

                                </div>
                    <div class="form-group">
                                    <label class="font-title-initial">@(property.DisplayName ?? property.PropertyName)</label>
                                    @Html.ValidationMessage(property.PropertyName)
                                    @Html.TextBox(property.PropertyName, property.Model, new { @class = "form-control" })

                                </div>
                            }


                        }
                    }


                </td>
            <tr>
                <td colspan="2" class="std-cell">

                    <div class="panel-footer">
                        &nbsp;
                        <div class="float-right-div">
                            <input type="submit" value="Save" class="btn btn-primary" />
                            @Html.ActionLink("Cancel", "Show", null, new { @class = "btn btn-default" })
                        </div>
                    </div>

                </td>
            </tr>
        </table>
    }
</div>
