@using Common.Dto
@model ServiceBundleDto

<div class="dd">
	@Html.Hidden("Id", Model.Id)

	@foreach (var property in ViewData.ModelMetadata.Properties)
	{
		if (property.PropertyName == "Id" || property.PropertyName == "Services" || property.PropertyName.Contains("UserId") || property.PropertyName.Contains("Date"))
		{
			continue;
		}
		<div class="dd-row">
			<div class="dt-cell">@(property.DisplayName ?? property.PropertyName)</div>

			@if (property.PropertyName == "Description" || property.PropertyName == "BusinessValue")
			{
				<div class="dd-cell">
					@Html.TextArea(property.PropertyName, new { @class = "ckeditor" })
				</div>
			}
			else
			{
				<div class="dd-cell">
					@Html.ValidationMessage(property.PropertyName)
					@Html.TextBox(property.PropertyName, property.Model, new { @class = "form-control" })
				</div>
			}
		</div>
	}
</div>
