@using Common.Dto
@model ServiceBundleDto

<div class="std-div">

    <table>

        @Html.Hidden("Id", Model.Id)

        @foreach (var property in ViewData.ModelMetadata.Properties)
            {
                if (property.PropertyName == "Id" || property.PropertyName == "Services" || property.PropertyName.Contains("UserId") || property.PropertyName.Contains("Date"))
                {
                    continue;
                }
                <tr>
                    <td class="dt-cell">@(property.DisplayName ?? property.PropertyName)</td>

                    @if (property.PropertyName == "Description" || property.PropertyName == "BusinessValue")
                    {
                        <td class="dd-cell">
                            @Html.TextArea(property.PropertyName, new { @class = "ckeditor" })
                        </td>
                    }
                    else
                    {

                        <td class="dd-cell">

                            @Html.ValidationMessage(property.PropertyName)
                            @Html.TextBox(property.PropertyName, property.Model, new { @class = "form-control" })

                        </td>

                    }

                </tr>
        }


    </table>

</div>
