@using Common.Enums.Permissions
@using Prometheus.WebUI.Helpers
@model IEnumerable<Prometheus.WebUI.Models.ServicePortfolio.ServiceBundleModel>
@{
	ViewBag.Title = "Service Portfolio";
	ViewBag.Links = new List<KeyValuePair<string, string>> { new KeyValuePair<string, string>("Home", "Home"), new KeyValuePair<string, string>(ViewBag.Title, "#") };
	Layout = "~/Views/Shared/_Layout.cshtml";
	int userId = 0;
	try
	{
		userId = int.Parse(Session["Id"].ToString());
	}
	catch (Exception) { }

	if (!UiPermissionHelper.HasPermission(userId, ServicePortfolio.CanView))
	{
		@Html.Partial("PartialViews/_NoAccess");
		return;
	}
}



<div class="flex-container">
	<div>
		<div class="float-right-div" style="margin-right: 10px;">
			@Html.ActionLink("Add Service Bundle", "Add")
		</div>
	</div>
</div>
<div class="panel-div full-width">
	<div class="flex-row full-width" style="flex-wrap: wrap; justify-content: space-between">
		
		@if (Model != null)
		{
			foreach (var serviceBundle in Model)
			{
				<div class="dd" style="width: 49%; margin-top: 20px;">
					<div class="dd-row">
						<div class="color-bar"></div>

						<div class="dd-cell-nostyle">
							<div class="dd">
								<div class="dd-row">
									<div class="dd-cell-base">
										<label class="font-title1">@serviceBundle.ServiceBundle.Name</label>
									</div>
								</div>
								@if (UiPermissionHelper.HasPermission(userId, ServicePortfolio.CanEdit))
								{
									<div class="dd-row">
										<div class="dd-cell-base">@Html.ActionLink("Edit", "Update", new {id = serviceBundle.ServiceBundle.Id})</div>
									</div>
								}
								<div class="dd-row">
									<div class="dd-row">
										<div class="dd-cell-base">@Html.Raw(serviceBundle.ServiceBundle.Description)</div>
									</div>
								</div>
								<div class="dd-row">
									<div class="dd-cell-base">
										<div class="dd">
											<div class="dd-row">
												<div class="dt-cell">Business Value</div>
												<div class="dd-cell">@Html.Raw(serviceBundle.ServiceBundle.BusinessValue)</div>
											</div>
											<div class="dd-row">
												<div class="dt-cell">Services</div>
												<div class="dd-cell">
													@{
														int i = 1;
														foreach (var service in serviceBundle.ServiceNames)
														{
															<text>@service.Item2</text>

															if (i < serviceBundle.ServiceNames.Count())
															{
																<text>,</text>
																i++;
															}

														}
													}
												</div>
											</div>
											<div class="dd-row">
												<div class="dt-cell">Measures</div>
												<div class="dd-cell">@serviceBundle.ServiceBundle.Measures</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			}
		}
	</div>
</div>