@using Common.Dto
@model IEnumerable<IServiceBundleDto>

@{
    ViewBag.Title = "Service Portfolio";
    ViewBag.Links = new List<KeyValuePair<string, string>> { new KeyValuePair<string, string>("Home", "Home"), new KeyValuePair<string, string>(ViewBag.Title, "#") };
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="flex-container">
    <div>
        <div class="float-right-div">
            @Html.ActionLink("Add", "Add")
        </div>
    </div>
</div>

@if (Model != null)
{
    foreach (var serviceBundle in Model)
    {

        <label class="font-title2-blue">@serviceBundle.Name</label>
        <div class="std-div">
            <dl class="dl-horizontal dl-section">
                <dt class="dt-sp">Description:</dt>
                <dd class="dd-sp">@Html.Raw(serviceBundle.Description)</dd>
                <dt class="dt-sp">Business Value:</dt>
                <dd class="dd-sp">@Html.Raw(serviceBundle.BusinessValue)</dd>
                <dt class="dt-sp">Services:</dt>
                <dd class="dd-sp">
                    @{
                        int i = 1;

                        foreach (var service in serviceBundle.Services)
                        {

                            if (i < serviceBundle.Services.Count)
                            {
                                @service.Name<text>,</text>
                                i++;
                            }
                            else
                            {
                                @service.Name

                            }

                        }
                    }


                </dd>
                <dt class="dt-sp">Measures:</dt>
                <dd class="dd-sp">@serviceBundle.Measures</dd>

                <dt></dt>
                <dd>
                    <div class="float-right-div">@Html.ActionLink("Edit", "Update", new { id = serviceBundle.Id })</div>
                </dd>
            </dl>
        </div>
    }
}
else
{
    <div class="alert alert-warning alert-message">There are currently no Service Bundles</div>
}
