@using Prometheus.Domain.Abstract;
@using Prometheus.WebUI.HtmlHelpers;
@model IEnumerable<IServiceBundle>

@{
    ViewBag.Title = "Service Portfolio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Breadcrumb {
    @Html.BreadrumbTrail(new List<KeyValuePair<string, string>> { new KeyValuePair<string, string>("Home", "Home") }, 0, "breadcrumb", "active")
}

<div class="std-indent" style="width:50%;">
    @foreach (IServiceBundle serviceBundle in Model)
    {
        <table class="std-table" cellpadding="5">
            <tr>
                <td colspan="2" style="border-bottom:1px solid black;">
                    <label class="font-title2-green">@serviceBundle.Name</label>
                </td>
            </tr>
            <tr>
                <td style="vertical-align:top; width:60%;">
                    <label class="font-title-initial">Description: </label><br />
                    @Html.Raw(serviceBundle.Description)
                </td>
                <td style="vertical-align:top; width:40%; border-bottom:1px solid black;" rowspan="3">
                    <label class="font-title-initial">Services:</label><br />
                        
                </td>
            </tr>
            <tr>
                <td style="vertical-align:top;">
                    <label class="font-title-initial">Business Value:</label> <br />
                    @Html.Raw(serviceBundle.BusinessValue)
                </td>
            </tr>
            <tr>
                <td style="vertical-align:top; border-bottom:1px solid black;">
                    <blabel class="font-title-initial">Measures:</blabel><br />
                    @serviceBundle.Measures;
                </td>
            </tr>
        </table>
        <br/><br/>
    }


</div>