@model  Common.Dto.ServiceBundleDto
@{
    ViewBag.Title = "Service Portfolio";
    ViewBag.SubTitle = "Service Bundle";

    Layout = "~/Views/Shared/_SidebarLayout.cshtml";
    //Breadcrumb navigation links
    ViewBag.Links = new List<KeyValuePair<string, string>> { new KeyValuePair<string, string>("Home", "Home"),
                                                             new KeyValuePair<string, string>("Service Bundles", "ServicePortfolio/Index"),
                                                             new KeyValuePair<string, string>(ViewBag.Title, "#") };
}

@section Sidebar {
    @Html.Action("ShowServiceBundleList", Model.Id)
}


@section Content {
    @{if (Model.Id > 0)
        {
            <div class="title-div">
                @ViewBag.SubTitle
            </div>

	        <div class="panel-div">
		        @Html.Partial("Partialviews/ServiceBundleViewer", Model)
	        </div>

                <div class="flex-container-col">
                    <div class="panel-footer">
	                    <div class="float-right-div">
		                    @Html.ActionLink("Back", "Index", null, new {@class="btn btn-default btn-back"})
		                    @Html.ActionLink("Delete", "ConfirmDelete", new {id = Model.Id}, new {@class = "btn btn-danger"})
		                    @Html.ActionLink("Update", "Update", new {id = Model.Id}, new {@class = "btn btn-primary"})
	                    </div>
                    </div>
                </div>
	       }
    }
}