@model  Common.Dto.ServiceBundleDto
@{
    ViewBag.Title = "Service Bundles";
    ViewBag.SubTitle = Model.Name;
    Layout = "~/Views/Shared/_SidebarLayout.cshtml";
    //Breadcrumb navigation links
    ViewBag.Links = new List<KeyValuePair<string, string>> { new KeyValuePair<string, string>("Home", "Home"),
                                                             new KeyValuePair<string, string>("Service Bundles", "ServicePortfolio/Index"),
                                                             new KeyValuePair<string, string>(ViewBag.Title, "#") };
}

@section Sidebar {
    @Html.Action("ShowServiceBundleList", Model.Id)   
    }    


@section Content {
    @{if (Model.Id > 0)
        {
            <div class="title-div">
                @ViewBag.SubTitle
            </div>
            <div class="panel">
                @Html.Partial("Partialviews/ServiceBundleViewer", Model)

            </div>
            <div class="flex-container">
                <div class="panel-footer">
                    <div class="float-right-div">
                        @Html.ActionLink("Delete", "ConfirmDelete", new { id = Model.Id }, new { @class = "btn btn-danger" })
                        @Html.ActionLink("Update", "Update", new { id = Model.Id }, new { @class = "btn btn-primary" })
                    </div>
                    <div class="float-left-div">                       
                        @Html.ActionLink("Back", "Show", null, new {@class = "btn btn-default"})
                    </div>
                </div>
            </div>

        }
    }
}