@using Prometheus.WebUI.Helpers
@model Prometheus.WebUI.Models.ServiceRequest.ServiceRequestModel
@{
	ViewBag.Title = "BeginOptionRequest";
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Links = new List<KeyValuePair<string, string>>
	{
		new KeyValuePair<string, string>("Home", "Home"),
		new KeyValuePair<string, string>("Service Request", "@")
	};

	int indexer = 0; /* index list of options in service request*/
}

<div class="title-div">Begin Service Request</div>


@using (Html.BeginForm("SubmitNewServiceRequest", "ServiceRequest", FormMethod.Post))
{

	<div class="panel panel-default flex-container-row make-space-top" style="justify-content: space-between">
		<div class="flex-container-row">
			<div class="dt-cell">Requestor</div>
			<div class="dd-cell">@Html.TextBox("serviceRequest.Requestor", "Me", new {style="border:none;", @readonly="true"})</div>
		</div>
		<div class="flex-container-row">
			<div class="dt-cell">
				Requested for
			</div>
			<div class="dd-cell">Me</div>
		</div>
		<div>
			<div class="dt-cell">
				Required date
			</div>
			<div class="dd-cell">
				<div class="input-group date">
					@Html.TextBox("RequiredDate", "", new { @class = "form-control", style = "width:150px;" })
					<span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
				</div>

			</div>
		</div>
	</div>
	<script language="javascript" type="text/javascript">

		$(function () {
			$('#RequiredDate')
				.datepicker({
					format: "mm-dd-yyyy",
					autoclose: true
				});
		});
	</script>
		<div class="flex-container-col">
			<div class="subtitle-div">@Model.Option.Name</div>
			<div class="dd">
				@{
					foreach (var input in Model.Option.TextInputs)
					{
						<div class="dd-row">
							<div class="dt-cell">@input.DisplayName</div>
							<div class="dd-cell">
								<div class="input-group">
									@Html.Hidden("serviceRequest.UserInputs[" + indexer + "].Key", StringHelper.RemoveSpaces(input.DisplayName))
									@Html.TextBox("serviceRequest.UserInputs[" + indexer + "].Value", null, new {@class = "form-control"})
									<span class="input-group-btn">
									<span class="btn btn-primary" data-html="true" data-toggle="tooltip" title="@Html.Raw(input.HelpToolTip)"><i class="fa fa-question" aria-hidden="true"></i></span>
								</span>

								</div>
								<script language="javascript" type="text/javascript">
									$(document)
										.ready(function() {
											$('[data-toggle="tooltip"]').tooltip();
										});
								</script>
							</div>
						</div>
						indexer++;
					}
				}
				@foreach (var input in Model.Option.SelectionInputs)
				{
					<div class="dd-row">
						<div class="dt-cell">@input.DisplayName</div>
						<div class="dd-cell">
							<div class="input-group">
								@Html.Hidden("serviceRequest.UserInputs[" + indexer + "].Key", StringHelper.RemoveSpaces(input.DisplayName))
								@Html.TextBox($"serviceRequest.UserInputs[{indexer}].Value", null, new { id = "serviceRequest_UserInputs", style = "width: 350px;" })
								<span class="input-group-btn">
									<span class="btn btn-primary" data-html="true" data-toggle="tooltip" title="@Html.Raw(input.HelpToolTip)"><i class="fa fa-question" aria-hidden="true"></i></span>
								</span>

							</div>
								<script type="text/javascript" language="javascript">
									$('#serviceRequest_UserInputs')
										.selectize({
											plugins: ['remove_button'],
											delimiter: '@Html.Raw(input.Delimiter)',
											valueField: 'value',
											labelField: 'label',
											persist: false,
											maxItems: @(input.NumberToSelect),
											options: [
												@Html.Raw(StringHelper.ConvertStringtoJsValLabelArray(input.SelectItems, ','))
											]
										});
								</script>

							</div>
					</div>

					indexer++;

				}
				@foreach (var input in Model.Option.ScriptedSelecentionInputs)
				{
					<text>some other input... </text>
				}
			</div>
						</div>

						<div class="flex-container-col">
							<div class="panel-footer">
								<div class="float-right-div">
									<input type="submit" value="Submit" class="btn btn-primary" />
								</div>
							</div>

						</div>
						}
