@using Prometheus.WebUI.Helpers.Enums
@using Prometheus.WebUI.Models.ServiceRequest
@model ServiceRequestModel
@{
    ViewBag.Title = "Service Request";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Links = new List<KeyValuePair<string, string>>
    {
        new KeyValuePair<string, string>("Home", "Home"),
        new KeyValuePair<string, string>("Service Request", "#")
    };
    var submitAction = Model.CurrentIndex < 0 ? "SaveInfo" : $"SaveForm{Model.Mode}";            //post operation to perform
}

@using (Html.BeginForm(submitAction, "ServiceRequest", FormMethod.Post))
{
    <input type="hidden" name="ServiceOptionId" value="@Model.ServiceOptionId" />
    <input type="hidden" name="Id" value="@Model.ServiceRequestId" />
    <input type="hidden" name="CurrentIndex" value="@Model.CurrentIndex"/>
	<input type="hidden" name="Mode" value="@Model.Mode"/>

    <div class="panel panel-default flex-container-row make-space-bottom">
        <div class="dd full-width">
            <div class="dd-row">
                <div class="dt-cell">Service Request</div>
                <div class="dd-cell-multicol">@Model.Package.Name</div>
                <div class="dt-cell">Status</div>
                <div class="dd-cell-multicol">@Model.ServiceRequest.State</div>
            </div>
            <div class="dd-row">
                <div class="dt-cell"></div>
                <div class="dd-cell-multicol"></div>
                @if (Model.ServiceRequestId > 0)
                {
                    <div class="dt-cell">Service Request Id</div>
                    <div class="dd-cell-multicol">@Model.ServiceRequestId</div>
                }
            </div>
        </div>
    </div>

    @Html.Partial("PartialViews/ServiceRequestNavigation", new ServiceRequestNavigationModel { SelectedIndex = Model.CurrentIndex, Titles = Model.Package.ServiceOptionCategoryTags })

    <div class="panel-div full-width"> @*partial view selected by index && mode*@
        @if (Model.CurrentIndex < 0)
        {
            @Html.Partial("PartialViews/ServiceRequestInfo", Model)
		}
		else
		{
			if (Model.OptionCategory != null)
			{
				@Html.Partial("PartialViews/ServiceRequestFormSelect", Model)
			}
			if (Model.UserInputs != null)
			{
				@Html.Partial("PartialViews/ServiceRequestFormInput", Model)
			}
		}
    </div>
        <div class="flex-container-col">
            <div class="make-space-bottom" style="display: flex; justify-content: flex-end; margin-right: 40px;">

                @if (Model.CurrentIndex >= 0)
                {
                    <div class="make-space-right">
                        <button name="submit" value="@(Model.CurrentIndex - 1)" class="btn btn-default"><i class="fa fa-chevron-left" style="font-size: 0.8em; font-weight: 100;"  aria-hidden="true"></i> Back</button>
                    </div>
                }


                    <div>
                        <button name="submit" value="@(Model.CurrentIndex + 1)" class="btn btn-default">Next <i class="fa fa-chevron-right" style="font-size: 0.8em; font-weight: 100;" aria-hidden="true"></i></button>
                    </div>

            </div>

            <div class="panel-footer">
                <div class="float-right-div">
                    @Html.ActionLink("Cancel Request", "CancelRequest", new { id = Model.ServiceRequestId }, new { @class = "btn btn-danger" })
                    @if (Model.ServiceRequestId > 0)
                    {
                        <button type="submit" value="9999" name="submit" class="btn btn-primary">Submit Request</button>
                    }
                </div>
            </div>
        </div>
}