@using Common.Enums
@using Prometheus.WebUI.Helpers
@using Prometheus.WebUI.Models.ServiceRequest
@model ServiceRequestModel
@{
	ViewBag.Title = "Service Request";
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Links = new List<KeyValuePair<string, string>>
	{
		new KeyValuePair<string, string>("Home", "Home"),
		new KeyValuePair<string, string>("Service Request", "#")
	};
	var submitAction = Model.CurrentIndex < 0 ? "SaveInfo" : $"SaveForm{Model.Mode}";            //post operation to perform
}

@using (Html.BeginForm(submitAction, "ServiceRequest", FormMethod.Post))
{
	<input type="hidden" name="form.ServiceOptionId" value="@Model.ServiceOptionId" />
	<input type="hidden" name="form.Id" value="@Model.ServiceRequestId" />
	<input type="hidden" name="form.CurrentIndex" value="@Model.CurrentIndex" />
	<input type="hidden" name="form.Mode" value="@Model.Mode" />

	<div class="panel panel-default flex-container-row standard-padding">
		<div class="dd ful">
			<div class="dd-row">
				<div class="dd-cell-base dt-font">Service Request </div>
				<div class="dd-cell-base">@Model.ServiceRequest.Name</div>
				@if (Model.PriceMonthly > 0 || Model.PriceUpFront > 0)
				{
					<div class="dd-cell-base dt-font">Price</div>
					<div class="dd-cell">
						<div class="dd">
							@if (Model.PriceUpFront > 0)
							{
								<div class="dd-row">
									<div class="dd-cell-base">Up Front</div>
									<div class="dd-cell-base">@($"{Model.PriceUpFront:C}")</div>
								</div>
							}
							@if (Model.PriceMonthly > 0)
							{
								<div class="dd-row">
									<div class="dd-cell-base">Monthly</div>
									<div class="dd-cell-base">@($"{Model.PriceMonthly:C}")</div>
								</div>
							}
						</div>
					</div>
				}

			</div>
			<div class="dd-row">
				<div class="dd-cell-base dt-font">Status</div>
				<div class="dd-cell-base">@Model.ServiceRequest.State</div>
			</div>
		</div>
	</div>
	<div class="make-space-top">
		@Html.Partial("PartialViews/ServiceRequestNavigation", new ServiceRequestNavigationModel { SelectedIndex = Model.CurrentIndex, Titles = Model.SelectedAction == ServiceRequestAction.New ? Model.NewPackage.ServiceOptionCategoryTags : Model.RemovePackage.ServiceOptionCategoryTags })
	</div>
	<div class="panel-div full-width">
		@*partial view selected by index && mode*@
		@if (Model.CurrentIndex < 0)
		{
			@Html.Partial("PartialViews/ServiceRequestInfo", Model)
		}
		else
		{
			if (Model.OptionCategory != null)
			{
				@Html.Partial("PartialViews/ServiceRequestFormSelect", Model)
			}
			if (Model.UserInputs != null)
			{
				@Html.Partial("PartialViews/ServiceRequestFormInput", Model)
			}
		}
	</div>
	<div class="flex-container-col">
		<div class="make-space-bottom" style="display: flex; justify-content: flex-end; margin-right: 40px;">

			@if (Model.CurrentIndex >= 0)
			{
				<div class="make-space-right">
					<button name="submit" value="@(Model.CurrentIndex - 1)" class="btn btn-default"><i class="fa fa-chevron-left" style="font-size: 0.8em; font-weight: 100;" aria-hidden="true"></i> Back</button>
				</div>
			}

			@if (Model.CurrentIndex < (Model.NewPackage.ServiceOptionCategoryTags.Count - 1))
			{
				<div>
					<button name="submit" value="@(Model.CurrentIndex + 1)" class="btn btn-default">Next <i class="fa fa-chevron-right" style="font-size: 0.8em; font-weight: 100;" aria-hidden="true"></i></button>
				</div>
			}
		</div>

		<div class="panel-footer">
			<div class="float-right-div">
				<button type="submit" value="99999" name="submit" class="btn btn-danger">Cancel Request</button>
				@if (Model.ServiceRequestId > 0)
				{
					<button type="submit" value="9999" name="submit" class="btn btn-primary">Submit Request</button>
				}
			</div>
		</div>
	</div>


	<script language="javascript" type="text/javascript">
		function UpdateOptions() {
			var inputs = [];
			@foreach (var input in Model.GetUserInputList())
	{
		<text>inputs[inputs.length] = { name: '@(StringHelper.RemoveSpaces(input.DisplayName))', used: false };</text>
	}

			@foreach (var option in Model.GetOptions())
	{
		<text>
			var q;
			if (document.getElementById("option_@(option.ServiceOption.Id)").checked === true) {
				if(document.getElementById("quantity_up_" + @(option.ServiceOption.Id)))
					document.getElementById("quantity_up_" + @(option.ServiceOption.Id)).disabled = false;
				if(document.getElementById("quantity_down_" + @(option.ServiceOption.Id)))
					document.getElementById("quantity_down_" + @(option.ServiceOption.Id)).disabled = false;
				q = document.getElementById("quantity_" + @(option.ServiceOption.Id));
				q.disabled = false;
				if (q.value == 0) {
					q.value = 1;
				}
				q.min = 1;

				var j;
				for (j = 0; j < inputs.length; j++) {
					@foreach (var input in option.UserInputs.UserInputs)
				{
					<text>
					if (inputs[j].name === '@(StringHelper.RemoveSpaces(input.DisplayName))') {
						inputs[j].used = true;
						continue;
					}
					</text>
			}
				}

			} else if (document.getElementById("option_@(option.ServiceOption.Id)").checked === false) {
				if (document.getElementById("quantity_up_" + @(option.ServiceOption.Id)))
					document.getElementById("quantity_up_" + @(option.ServiceOption.Id)).disabled = true;
				if(document.getElementById("quantity_down_" + @(option.ServiceOption.Id)))
					document.getElementById("quantity_down_" + @(option.ServiceOption.Id)).disabled = true;
				q = document.getElementById("quantity_" + @(option.ServiceOption.Id));
				q.disabled = true;
				q.value = 0;

			}
			</text>
	}

			var i;
			for (i = 0; i < inputs.length; i++) {
				if (inputs[i].used === true) {
					var div = document.getElementById("div_" + inputs[i].name);
					if (div.style.display != '') {
						div.style.display = '';
						document.getElementById(inputs[i].name).value = '';
					}

				} else {
					document.getElementById("div_" + inputs[i].name).style.display = 'none';
				}
			}
		};

		$(document).ready(function() {
			@if (Model.ServiceRequest.ServiceRequestOptions != null)
		{
			foreach (var option in Model.ServiceRequest.ServiceRequestOptions)
			{
		<text>
			if (document.getElementById("option_@(option.ServiceOptionId)"))
				document.getElementById("option_@(option.ServiceOptionId)").checked = true;
			</text>
			}
			if (Model.ServiceRequest.ServiceRequestOptions == null || !Model.ServiceRequest.ServiceRequestOptions.Any()) // relying on short-circuit here
			 {
			<text>
			if (document.getElementById("option_@(Model.ServiceRequest.ServiceOptionId)"))
				document.getElementById("option_@(Model.ServiceRequest.ServiceOptionId)").checked = true;
			</text>
			 }
		}
			UpdateOptions();
			@if (Model.ServiceRequest.ServiceRequestUserInputs != null)
			{
				foreach (var userData in Model.ServiceRequest.ServiceRequestUserInputs)
				{
					<text>
			if (document.getElementById("@(StringHelper.RemoveSpaces(userData.Name))")) {
				@if (userData.UserInputType == UserInputType.Selection || userData.UserInputType == UserInputType.ScriptedSelection)
				{
					<text>
				document.getElementById("@(StringHelper.RemoveSpaces(userData.Name))").selectize.setValue('@userData.Value', 0);
				</text>
				}
				else
				{
					<text>
					document.getElementById("@(StringHelper.RemoveSpaces(userData.Name))").value = '@userData.Value';
					</text>
				}

				document.getElementById("data_id_@(StringHelper.RemoveSpaces(userData.Name))").value = '@userData.Id ';
			}
			</text>
				}
			}
		});
	</script>
}