@using Common.Enums.Permissions
@using Prometheus.WebUI.Helpers
@using Prometheus.WebUI.Helpers.Enums
@model Prometheus.WebUI.Models.ServiceCatalog.CatalogControlsModel
    @{
        int userId; /* determine user ID for permissions */
        try { userId = int.Parse(Session["Id"].ToString()); }
        catch { return; } /*abort rendering */
    }
<div class="panel panel-default">
	<div class="flex-row" style="justify-content: space-around">

		@if (Model.CatalogType == ServiceCatalogs.Business && UiPermissionHelper.HasPermission(userId, BusinessCatalog.CanViewCatalog))
		{
			<div><span class="btn btn-default active">Business Catalog</span></div>
			<div>@Html.ActionLink("Technical Catalog", "Index", new { type = ServiceCatalogs.Technical }, new { @class = "btn btn-primary" })</div>
		}
		else if (UiPermissionHelper.HasPermission(userId, SupportCatalog.CanViewCatalog))
		{
			<div>@Html.ActionLink("Business Catalog", "Index", new { type = ServiceCatalogs.Business }, new { @class = "btn btn-primary" })</div>
			<div><span class="btn btn-default active">Technical Catalog</span></div>
		}

		<div style="margin-right: 20px;">
			@using (Html.BeginForm("CatalogSearch", "ServiceCatalog", FormMethod.Post))
			{
				<div class="input-group" style="margin-left: 20px; max-width: 250px">

					<input name="searchString" type="text" class="form-control" placeholder="Search for...">
					<span class="input-group-btn">
						<button class="btn btn-primary" type="submit">
							<i class="fa fa-search" aria-hidden="true"></i> Search
						</button>
					</span>
				</div>
				<input type="hidden" name="type" value="@Model.CatalogType" />
			}
		</div>
		<div>
			<div class="btn-group">
				@{
					if (Model.SearchString == null)
					{
						Model.SearchString = "";
					}
						for (int i = 0; i < Model.TotalPages; i++)
						{
							if (Model.PageNumber == i)
							{
						<span class="btn btn-default active">@(i + 1)</span>
					}
					else
					{
						@Html.ActionLink((i + 1).ToString(), "CatalogSearch", "ServiceCatalog", new { type = Model.CatalogType, pageId = i, searchString = Model.SearchString }, new { @class = "btn btn-default" })
					}
				}
}
			</div>
		</div>
	</div>
</div>