@using Common.Dto
@using Prometheus.WebUI.Models.ServiceCatalog
@model PublishableCatalogItemModel
<div class="dd full-width">
	<div class="dd-row">

		<div class="dd-cell-nostyle">

			<div class="dd full-width">
				<div class="dd-row">
					<div class="dd-cell-nostyletq-width"><div class="title-div" style="display:inline-block">@Model.Item.Name</div></div>
					<div class="dd-cell-nostyle" style="width: 20%;"></div>
					@if (Model.Item is IRequestableDto)
					{
						<div class="dd-cell-nostyle" style="vertical-align: top; text-align: right; width: 5%;">
							<a href="@Url.Action("Begin", "ServiceRequest", new {id = Model.Item.Id})" , class="btn btn-primary">Request <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
						</div>
					}
				</div>
				@if (Model.Item is IServiceOptionCategoryDto)
				{
					<div class="dd-row">
						<div class="dd-cell-base">
							@Html.Raw(Model.Item.BusinessValue)
						</div>
					</div>
}
                else if (Model.Item is IServiceOptionDto)
                {
                    var option = (IServiceOptionDto)Model.Item;
					<div class="dd-row">
						<div class="dd-cell-base" style="width:75%">@Html.Raw(option.BusinessValue)</div>
						<div class="dd-cell-nostyle" style="width:20%">
							<div class="dd full-width">
								<div class="dd-row">
									<div class="dd-cell-nostyle note" style="border-bottom: 1px solid #ddd; padding: 5px;">Up Front</div>
									<div class="dd-cell-nostyle note" style="border-bottom: 1px solid #ddd; padding: 5px;">Monthly</div>
								</div>
								<div class="dd-row">
									<div class="dd-cell note" style="padding: 5px;">@($"${option.PriceUpFront}")</div>
									<div class="dd-cell note" style="padding: 5px;">@($"${option.PriceMonthly}")</div>
								</div>
							</div>
						</div>
					</div>
					<div class="dd-row">
						<div class="dd-cell-base">
							@if (option.Picture != null)
							{
								<div class="float-left-div" style="border: 1px solid #ddd; margin-right: 10px;">
									<img src="@Url.Action("GetOptionPicture", "Service", new {id = Model.Item.Id})" alt="picture" width="150" />
								</div>
							}
							@Html.Raw(option.Details)
						</div>
					</div>

				}
				</div>
			</div>
		</div>
	</div>

@if (Model.Item is IServiceOptionCategoryDto)
{
    IServiceOptionCategoryDto category = (IServiceOptionCategoryDto)Model.Item;

    foreach (var option in category.ServiceOptions)
    {
		@Html.Partial("PartialViews/OptionView", new PublishableCatalogItemModel {Item = (ICatalogPublishable)option, Catalog = Model.Catalog})
	}
}
