@using Common.Dto
@model IServiceOptionDto
<div class="flex-col">
	<div class="flex-row">
		<div style="width: 50%; display: inline-block;">
			<div>
				@if (Model.Picture != null)
				{
					<div class="float-left-div" style="border: 1px solid #ddd; margin-right: 10px;">
						<img src="@Url.Action("GetOptionPicture", "Service", new {id = Model.Id})" width="150" height="150" alt="picture"/>
					</div>
				}
				@Html.Raw(Model.Description)
			</div>
		</div>
		<div style="margin-left: 20px; display: inline-block;">
			<table class="table">
				<thead>
				<tr>
					<th style="padding-right: 10px;">up front</th>
					<th>monthly</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>@Model.PriceUpFront.ToString("C")</td>
					<td>@Model.PriceMonthly.ToString("C")</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
	@if (Model is IRequestable)
	{
		<div class="float-right-div">
			<a href="@Url.Action("BeginOptionRequest", "ServiceRequest", new {id = Model.Id})" , class="btn btn-primary">Request <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
		</div>
	}
</div>