@using Common.Dto
@using Common.Enums.Entities
@model Prometheus.WebUI.Models.ServiceCatalog.PublishableCatalogItemModel
@{
	CatalogableTypes optionType;

	if (Model.Item is IServiceOptionCategoryDto)
	{
		optionType = CatalogableTypes.Category;
	}
	else    //need a default case
	{
		optionType = CatalogableTypes.Option;
	}
}

<div class="dd" style="margin-top: 10px; width: 100%;">
	<div class="dd-row">
		<div class="color-bar"></div>

		<div class="dd-cell-nostyle">
			<div class="dd" style="width: 100%;">
				<div class="dd-row">
					@if (Model.Item is IServiceDto) /*deal with the title */
					{
						var service = (ServiceDto)Model.Item;

						<div class="dd-cell-base" style="width: 90%">
								@Html.ActionLink(Model.Item.Name, "Details", new {catalog = Model.Catalog, id = Model.Item.Id, type = optionType, serviceId = service.Id, }, new { @class = "font-title1" })
						</div>
					}
					else if (Model.Item is IServiceOptionDto || Model.Item is IServiceOptionCategoryDto)
					{
						<div class="dd-cell-base" style="width: 90%">
								@Html.ActionLink(Model.Item.Name, "Details", new { catalog = Model.Catalog, type = optionType, id = Model.Item.Id }, new { @class = "font-title1" })
						</div>
                    }

					@if (Model.Item is IRequestableDto)
					{
						<div class="dd-cell-nostyle" style="vertical-align: top; text-align: right; width: 10%;">
							<a href="@Url.Action("Begin", "ServiceRequest", new {id = Model.Item.Id})" , class="btn btn-primary">Request <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
						</div>
					}
				</div>

				@if (Model.Item is IServiceOptionCategoryDto)
				{
					var category = (IServiceOptionCategoryDto)Model.Item;

					<div class="dd-row">
						<div class="dd-cell-base">@Html.Raw(category.BusinessValue)</div>
					</div>

					if (category.ServiceOptions != null)
					{
						<div class="dd-row">
							<div class="dd-cell-nostyle" style="position: relative;">

								<input id="drop-checkbox@(Model.Item.Id)" type="checkbox" class="drop-checkbox">
								<label for="drop-checkbox@(Model.Item.Id)" id="example" class="drop-text" data-toggle="collapse" data-target="#category@(Model.Item.Id)">See options</label>

								<div class="collapse drop-well" id="category@(Model.Item.Id)" style="width: 100%;">
									<div class="dd" style="width: 100%;">
										@foreach (var item in category.ServiceOptions)
										{

											<div class="dd-row">
												<div class="dd-cell-base" style="width: 75%">@Html.ActionLink(item.Name, "Details", new {catalog = Model.Catalog, id = item.Id, type = CatalogableTypes.Option}, new {@class = "font-title2"})</div>
												<div class="dd-cell-nostyle" style="width:20%"></div>
												<div class="dd-cell-nostyle" style="width: 5%; vertical-align: top; text-align: right; width: 10%;">
													<a href="@Url.Action("Begin", "ServiceRequest", new {id = item.Id})" , class="btn btn-primary">Request <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
												</div>

											</div>
											<div class="dd-row">
												<div class="dd-cell-base">
													<div style="padding-right: 20px;">@Html.Raw(item.BusinessValue)</div>
												</div>
												<div class="dd-cell-nostyle">
													<div class="dd" style="width: 100%;">
														<div class="dd-row">
															<div class="dd-cell-nostyle note" style="border-bottom: 1px solid #ddd; padding: 5px;">Up Front</div>
															<div class="dd-cell-nostyle note" style="border-bottom: 1px solid #ddd; padding: 5px;">Monthly</div>
														</div>
														<div class="dd-row">
															<div class="dd-cell note" style="padding: 5px;">@($"${item.PriceUpFront}")</div>
															<div class="dd-cell note" style="padding: 5px;">@($"${item.PriceMonthly}")</div>
														</div>
													</div>
												</div>
											</div>

										}
									</div>
								</div>
							</div>
						</div>
					}
				}
				else if (Model.Item is IServiceOptionDto)
				{
					IServiceOptionDto opt = (IServiceOptionDto)Model.Item;
					<div class="dd-row">
						<div class="dd-cell">@Html.Raw(opt.BusinessValue)</div>
					</div>
				}
			</div>
		</div>
	</div>
</div>
