@using Prometheus.WebUI.Helpers
@model Common.Dto.IRoleDto

@{
	ViewBag.Title = "System Access";
	Layout = "~/Views/Shared/_SidebarLayout.cshtml";

	ViewBag.Links = new List<KeyValuePair<string, string>>
	{
		new KeyValuePair<string, string>("Home", "Home"),
		new KeyValuePair<string, string>("System Access", "SystemAccess/Index"),
		new KeyValuePair<string, string>("Permissions and Roles", "SystemAccess/PermissionsAndRoles")
	};
}

@section Sidebar
{
	@Html.Action("ShowRoles", Model.Id)
}

@section Content
{
	@if (Model != null && Model.Id > 0)
	{
		<div class="title-div">Role</div>
		<div class="panel-div">
			<div class="dd">
				@foreach (var property in ViewData.ModelMetadata.Properties)
				{
					switch (property.PropertyName)
					{
						case "DateCreated":
						case "DateUpdated":
						case "Id":
						case "CreatedByUserId":
						case "UpdatedByUserId":
							continue;
						default:
							<div class="dd-row">
								<div class="dt-cell">@(StringHelper.CamelToString(property.PropertyName))</div>
								<div class="dd-cell">@(StringHelper.CamelToString(property.Model.ToString()))</div>
							</div>
					break;
			}
		}
			</div>
		</div>

			<div class="flex-container-col">
				<div class="panel-footer">
					<div class="float-right-div">
						@Html.ActionLink("Update", "UpdateRole", new { id = Model.Id }, new { @class = "btn btn-primary" })
						@Html.ActionLink("Delete", "ConfirmDeleteRole", new { id = Model.Id }, new { @class = "btn btn-danger" })
					</div>
				</div>
			</div>

	}
}
