@model Common.Dto.ScriptDto

@{
    ViewBag.Title = "Script";
    ViewBag.SubTitle = "Add and Upload Scripts";
    Layout = "~/Views/Shared/_SidebarLayout.cshtml";

    ViewBag.Links = new List<KeyValuePair<string, string>>
    {
        new KeyValuePair<string, string>("Home", "Home"),
        new KeyValuePair<string, string>("Scripts", "Script/Index"),
        new KeyValuePair<string, string>(ViewBag.SubTitle, "#")
    };
}

<h2>Add</h2>

@section Content {
    <div class="title-div">@ViewBag.SubTitle</div> @* title *@

    @using (Html.BeginForm("SaveScript", "Script", FormMethod.Post))
    {
        @*if (Model != null)
        {*@
            <div class="panel-div">
                @* content *@
                @* Html.Partial("some partial view ") *@

                <div class="dd-row">
                    <div class="dt-cell"> @Html.DisplayNameFor(model => model.Name) </div>
                    <div class="dd-cell">
                   w     @Html.TextBox("Name", Model.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="dd-row">
                    <div class="dt-cell"> @Html.DisplayNameFor(model => model.Description) </div>
                    <div class="dd-cell">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="dd-row">
                    <div class="dt-cell"> @Html.DisplayNameFor(model => model.Version) </div>
                    <div class="dd-cell">
                        @Html.EditorFor(model => model.Version, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Version, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="dd-row">
                    <div class="dt-cell"> @Html.DisplayNameFor(model => model.Filename) </div>
                    <div class="dd-cell">
                        @Html.EditorFor(model => model.Filename, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Filename, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="dd-row">
                    <div class="dt-cell"> @Html.DisplayNameFor(model => model.ScriptFile) </div>
                    <div class="dd-cell">
                        <div class="float-right-div">
                            <div class="fileupload fileupload-new float-right-div" data-provides="fileupload">
                                <span class="fileupload-preview"></span>
                                <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
                                <span class="btn btn-primary btn-file">
                                    <span class="fileupload-new">Select file</span>
                                    <span class="fileupload-exists">Change</span>         <input type="file" name="file" />

                                </span>
                                <span class="fileupload-exists"><input type="submit" value="Upload" class="btn btn-primary" /></span>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        @*}*@
       <div class="flex-container-col">s
            @* control buttons at the bottom *@
            <div class="panel-footer">
                <div class="float-right-div">
                    @Html.ActionLink("Back", "Index", new {}, new {@class = "btn btn-default btn-back"})
                    <input type="submit" value="Save" id="Save" class="btn btn-primary"/>
                </div>
            </div>
        </div>


    }
}

@section Sidebar{

}