@model Common.Dto.IScriptDto

@{
    ViewBag.Title = "Scripts";
    ViewBag.SubTitle = "Script Detail";
    Layout = "~/Views/Shared/_SidebarLayout.cshtml";

    ViewBag.Links = new List<KeyValuePair<string, string>>
    {
        new KeyValuePair<string, string>("Home", "Home"),
        new KeyValuePair<string, string>("Scripts", "Script/Index"),
    };

}

@section Content{
    <div class="title-div">@ViewBag.SubTitle</div> @* title *@
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Version)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Version)
            </dd>

        </dl>
    </div>
    <div class="flex-container-col">
        @* control buttons at the bottom *@
        <div class="panel-footer">
            <div class="float-right-div">
                @Html.ActionLink("Back", "Index", new { }, new { @class = "btn btn-default btn-back" })
            </div>
        </div>
    </div>
}

@section Sidebar{

}
