@model Common.Dto.IScriptDto

@{
    ViewBag.Title = "Scripts";
    ViewBag.SubTitle = "Update Script";
    Layout = "~/Views/Shared/_SidebarLayout.cshtml";

    ViewBag.Links = new List<KeyValuePair<string, string>>
    {
        new KeyValuePair<string, string>("Home", "Home"),
        new KeyValuePair<string, string>("Scripts", "Script/Index"),
        new KeyValuePair<string, string>(ViewBag.SubTitle, "#")
    };
}

@section Content
{
    <div class="title-div">@ViewBag.SubTitle</div> @* title *@

    @using (Html.BeginForm("SaveScript", "Script", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Version, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Version, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Version, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ScriptFile, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ScriptFile, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ScriptFile, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="flex-container-col">
            @* control buttons at the bottom *@
            <div class="panel-footer">
                <div class="float-right-div">
                    @Html.ActionLink("Back", "Index", new { }, new { @class = "btn btn-default btn-back" })
                    <input type="submit" value="Save" id="Save" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }
}

@section Sidebar
{
    
}

