@model Prometheus.WebUI.Models.Service.ConfirmDeleteSectionItemModel

@{
    ViewBag.Title = "Services";
    ViewBag.SubTitle = "Confirm Deletion";
    ViewBag.Links = new List< KeyValuePair < string, string>> {
                                                                new KeyValuePair<string, string>("Home", "Home"),
                                                                new KeyValuePair<string, string>("Services", "Service/Index"),
                                                                new KeyValuePair<string, string>(Model.Service, "Service/Show/" + Model.Section + "/" + Model.ServiceId),
                                                                new KeyValuePair<string, string>(Model.Name, "Service/ShowServiceSectionItem/" + Model.ServiceId + "/" + Model.Section + "/" + Model.Id),
                                                                new KeyValuePair<string, string>(ViewBag.SubTitle, "#")};

    Layout = "~/Views/Shared/_SidebarLayout.cshtml";
}

@section Content
{
    <div class="title-div">Confirm Deletion</div>

    @using (Html.BeginForm(Model.DeleteAction, "Service", FormMethod.Post))
        {
            <input type="hidden" name="Id" value="@Model.Id"/>
            <input type="hidden" name="ServiceId" value="@Model.ServiceId"/>
            <input type="hidden" name="FriendlyName" value="@Model.Name"/>

                <div class="pane-divl">
                    Are you sure you want to delete
					<div>
						<div class="present-section">
							@Model.Name
						</div>
					</div>
                </div>

                <div class="flex-container-col">
                    <div class="panel panel-footer">
                        <div class="float-right-div">
                            @Html.ActionLink("Cancel", "ShowServiceSectionItem", new { id = Model.Id, }, new { @class = "btn btn-default" })
                            <input type="submit" value="Confirm Delete" class="btn btn-danger"/>

                        </div>
                    </div>
                </div>
        }

}

@section Sidebar
{

}
