@model  Prometheus.WebUI.Models.Service.ShowOptionCategoryModel
@{
	Layout = "~/Views/Shared/_SidebarLayout.cshtml";

	ViewBag.Title = "Services";
	ViewBag.SubTitle = "Option Category";
	ViewBag.Links = new List<KeyValuePair<string, string>> {
															new KeyValuePair<string, string>("Home", "Home"),
															new KeyValuePair<string, string>("Services", "Service/Index"),
															new KeyValuePair<string, string>(Model.ServiceName, $"Service/Show/Options/{Model.ServiceId}"),
															new KeyValuePair<string, string>(ViewBag.SubTitle, "#")};
}

@section Content
{
	<div class="title-div">
		@ViewBag.SubTitle
	</div>
	<div class="panel-div">
		@if (Model.OptionCategory != null)
	{
			@Html.Partial("PartialViews/ShowOffering", Model.OptionCategory)
	}
	else
	{
			<div class="alert alert-message alert-warning">Option no longer exists</div>
	}
	</div>
	<div class="flex-container-col">
		<div class="panel-footer">
			<div class="float-right-div">
				@Html.ActionLink("Back", "Show", new { id = Model.ServiceId, section = "Options" }, new { @class = "btn btn-default btn-back" })

				@Html.ActionLink("Update", "UpdateOptionCategoryItem", new { id = Model.OptionCategory.Id }, new { @class = "btn btn-primary" })

				@Html.ActionLink("Delete", "ConfirmDeleteOptionCategory", new { id = Model.OptionCategory.Id }, new { @class = "btn btn-danger" })

			</div>
		</div>
	</div>
}


}

@section Sidebar
{

}
