@model Prometheus.WebUI.Models.Service.ServiceOptionModel
    @{
        Layout = "~/Views/Shared/_SidebarLayout.cshtml";
        ViewBag.Title = "Services";

            ViewBag.SubTitle = "Service Option";

        ViewBag.Links = new List<KeyValuePair<string, string>>
        {
            new KeyValuePair<string, string>("Home", "Home"),
            new KeyValuePair<string, string>("Services", "Service/Index"),
            new KeyValuePair<string, string>(Model.ServiceName, "Service/Show/Options/" + Model.Option.ServiceId),
            new KeyValuePair<string, string>("Option", "#")
        };
    }

@section Sidebar
{}


@section Content
{
	<div>
	<div class="title-div">@ViewBag.SubTitle</div>
	<div class="panel-div">
		@if (Model.Option != null)
		{
			@Html.Partial("PartialViews/ShowOffering", Model.Option)
		}
		else
		{
			<div class="alert alert-warning alert-message">
				Data no longer exists.
			</div>
		}
	</div>

	<div class="flex-container">
		<div class="panel-footer">
			<div class="float-right-div">
				@Html.ActionLink("Back", "Show", new { id = Model.Option.ServiceId, section = "Options" }, new { @class = "btn btn-default btn-back" })
				@Html.ActionLink("Update", "UpdateServiceOption", new { id = Model.Option.Id }, new { @class = "btn btn-primary" })
				@Html.ActionLink("Delete", "ConfirmDeleteServiceOption", new { id = Model.Option.Id }, new { @class = "btn btn-danger" })
			</div>
		</div>
	</div>
</div>

}
