@using Common.Dto
@using Prometheus.WebUI.Helpers
@model Prometheus.WebUI.Models.Service.ServiceSectionModel
@{
    ViewBag.Title = "Services";
    ViewBag.SubTitle = "Update " + ServiceSectionHelper.ConvertRouteStringToFriendlyName(Model.Section);
    Layout = "~/Views/Shared/_SidebarLayout.cshtml";

    ViewBag.Links = new List<KeyValuePair<string, string>> { new KeyValuePair<string, string>("Home", "Home"),
                                                             new KeyValuePair<string, string>("View Services", "Service/Index"),
                                                             new KeyValuePair<string, string>(Model.Service.Name, "Service/Show/General/" + Model.Service.Id),
                                                             new KeyValuePair<string, string>(ViewBag.Title, "#")};
    bool controlsAvail = true; /* used to enable/disable the buttons */
}

@section Sidebar
{

}

@section Content
{
    @using (Html.BeginForm("Save" + ServiceSectionHelper.ConvertNavStringToRouteString(Model.Section) + "Item", "Service", FormMethod.Post))
    {
        <div class="title-div">
            @ViewBag.SubTitle
        </div>
        <div class="panel">
            @switch (Model.Section)
            {
                case "Documents":

                    @Html.Partial("PartialViews/RenameDocument", (ServiceDocumentDto)Model.Service.ServiceDocuments.FirstOrDefault((d => d.StorageNameGuid == Model.SectionItemGuid)))
                    controlsAvail = false;
                    break;
                case "General":
                    @Html.Partial("PartialViews/UpdateGeneral", Model.Service)
                    break;
                case "Goals":
                    @Html.Partial("PartialViews/UpdateServiceGoalItem", (ServiceGoalDto)Model.Service.ServiceGoals.FirstOrDefault(g => g.Id == Model.SectionItemId))
                    break;
                case "Swot":
                    @Html.Action("Update" + Model.Section + "Item", Model.SectionItemId)
                    break;
                case "SwotActivity":
                    @Html.Action("UpdateSwotActivityItem", Model.SectionItemId)
                    break;
                case "WorkUnits":
                    var workUnit = (ServiceWorkUnitDto)Model.Service.ServiceWorkUnits.FirstOrDefault(g => g.Id == Model.SectionItemId);
                    if (workUnit != null)
                    {
                        @Html.Partial("PartialViews/UpdateDynamicServiceItem", workUnit)
                    }
                    else
                    {
                        goto default;
                    }
                    break;
                case "Measures":
                    if (Model.Service.ServiceWorkUnits != null && Model.Service.ServiceMeasures.Any())
                    {
                        @Html.Partial("PartialViews/UpdateMeasureItem", (ServiceMeasureDto)Model.Service.ServiceMeasures.FirstOrDefault(g => g.Id == Model.SectionItemId))
                        break;
                    }
                    goto default;
                default:
                    controlsAvail = false;
                    <section class="alert alert-warning">
                        The data no longer exists.
                    </section>
                    break;
            }
        </div>


        <div class="flex-container">
            <div class="panel-footer">
                <div class="float-right-div">
                    @Html.ActionLink("Back", "Show", new { id = Model.Service.Id, section = Model.Section }, new { @class = "btn btn-default btn-back" })
                    @if (controlsAvail)
                    {
                        <input type="submit" value="Save" id="Save" class="btn btn-primary" />
                    }
                </div>
            </div>
        </div>
    }

}


